[Dra Domila] - bot.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3cac13c7-f4ca-4f0d-be30-7a5d11cc0993",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8704,
        1728
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 1540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4416,
        1664
      ],
      "typeVersion": 1,
      "id": "b7e6ae12-a91a-482e-9841-12419a8c0d8b",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Divisão de Mensagens Inteligente - Para a Ia não responder um bloco com uma mensagem só. ",
        "height": 140,
        "width": 1356,
        "color": 5
      },
      "id": "b6975cb7-6379-4df4-9692-c1c6f0e07cb9",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4352,
        1600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "2025300",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "2aa763f7-cf04-44e7-9bbb-8f8de823aef8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar na IA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "820760d6-3546-4007-8917-55d366a74261",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "2025300",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Avisar Lead grupo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7472,
        1840
      ],
      "id": "f4af8652-ef1b-4c73-926a-a20e00dd0919",
      "name": "Switch2",
      "notes": "Identifica se contém o protocolo na mensagem e caso tenha, direciona para o bloco de jogar a informação para dentro do grupo. "
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        8640,
        2528
      ],
      "id": "422545d7-692b-435c-970b-40b6d34438da",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 1620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4544,
        2224
      ],
      "typeVersion": 1,
      "id": "b855c509-6037-4940-a660-65ae1ef47529",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "# AVISAR NOVO LEAD NO GRUPO - Quando. a IA informar o protocolo, ele joga pra cá. ",
        "height": 80,
        "width": 1596,
        "color": 5
      },
      "id": "71b01446-df3b-419c-9e53-36276ab8c271",
      "name": "Sticky Note45",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        2240
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4432,
        2768
      ],
      "typeVersion": 1,
      "id": "70b99084-b929-498e-b7d3-b639479b17ce",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "# Cadastra Chat Supabase - Cadastra o histórico de conversa para a IA usar depois.",
        "height": 100,
        "width": 1330,
        "color": 5
      },
      "id": "0662d845-5529-44ee-b444-1b218fb6df5b",
      "name": "Sticky Note55",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4448,
        2704
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_messages",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8080,
        2368
      ],
      "id": "816884e9-2bfa-4421-a604-8cac948a099c",
      "name": "ListMessages-Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversas",
        "include": "specifiedFields",
        "fieldsToInclude": "id,message_type,created_at,user_message, bot_message,phone",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        8288,
        2368
      ],
      "id": "9bc12d11-ebd8-4d79-8ff9-c27d299850f0",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsCode": "return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8464,
        2368
      ],
      "id": "824a9e6c-45ae-4f96-9728-4e05db3fd5e5",
      "name": "Code6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"role\": \"Agente Resumidor de Casos\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados dos problemas\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas os problemas do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"Apenas problemas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do problema com detalhes relevantes\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        8672,
        2368
      ],
      "id": "05889faa-c32e-4f8c-a273-5f3a4cb07c98",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').first().json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9600,
        1712
      ],
      "id": "4ec38479-c7d2-46fb-aefc-4360c7444a6e",
      "name": "Verificar Pause1",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "ff00573b-e517-43c6-8644-14a4fe8565d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "215d6805-e327-4106-9bcf-588f2bddd1c2",
      "name": "Rota Atendimento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        9984,
        1712
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/conversations/{{ $('Dados').item.json.Conversation.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9600,
        1904
      ],
      "id": "251d4121-9b00-4ee0-a3e6-d21966b8b651",
      "name": "Check Conversation",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26a3fdc7-6924-40df-b0ce-3e5617f578ff",
              "leftValue": "={{ $json.messages[0].conversation.assignee_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9984,
        1904
      ],
      "id": "a22bfefe-e33e-4223-8a23-3e79e3dafe2c",
      "name": "If2",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7232,
        1728
      ],
      "id": "f995696f-1e3f-4ffe-9289-bed7f3182d8e",
      "name": "message_robo"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_messages_temp",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9584,
        1504
      ],
      "id": "cf48c16b-9d50-4263-9d20-7fa62dc69c46",
      "name": "Supabase12",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $(\"Supabase12\").item.json.bot_message }}",
              "rightValue": "={{ $(\"Supabase12\").all().map(item => item.json.bot_message) }}",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75bb2bdd-eff3-415d-927c-741a2a050796",
      "name": "Compara Get Memory",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10000,
        1504
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp2.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "15433788D231-492B-8CE4-D5363B7A250F"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados').item.json.Telefone }}\",\n      \"text\": {{ JSON.stringify( $('message_robo').item.json.output ) }},\n    \"options\": {\n      \"delay\": 1000,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    }\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9600,
        2080
      ],
      "id": "4609f179-c0d4-4b9f-8e37-03dd73fd7e86",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9984,
        2080
      ],
      "id": "00e8e7c0-2d6a-4d04-a517-db29ef041d98",
      "name": "Wait2",
      "webhookId": "0d9ea828-f7ce-4c84-9f61-3e8b34f22f6f"
    },
    {
      "parameters": {
        "sseEndpoint": "https://api.doutorai.com.br/mcp/ceb17fa5-1937-405f-8000-ea3be7d2b032/mcp/:tool/calendar/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        6640,
        2672
      ],
      "id": "21a5ba7a-bc7d-4fb7-aef7-23cbbe553416",
      "name": "MCP_CALENDAR1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0861dd6efb0d62d05719e7d187c9bf91"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363419250272723@g.us\",\n  \"textMessage\": {\n    \"text\": {{ JSON.stringify(\n      `Paciente: ${$('Dados').first().json.NomeWpp}\nNúmero: ${$('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", \"\")} \n\nResumo do caso:\n${$json.text}`\n    ) }}\n  },\n  \"options\": {\n    \"delay\": 1000,\n    \"presence\": \"composing\",\n    \"linkPreview\": false\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9024,
        2512
      ],
      "id": "eaf4b8b1-e7c1-45a5-8c59-3b80d4906b0a",
      "name": "HTTP Request4",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0861dd6efb0d62d05719e7d187c9bf91"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados').item.json.Telefone }}\",\n    \"textMessage\": {\n      \"text\": {{ JSON.stringify(  $json.output ) }}\n    },\n    \"options\": {\n      \"delay\": 1000,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    }\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7840,
        2544
      ],
      "id": "80ac4a05-7b37-4961-982a-198ef383874d",
      "name": "HTTP Request5",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.Telefone }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5808,
        1008
      ],
      "id": "1eeaedfd-49af-421e-95cb-a233a2b9748e",
      "name": "Postgres Chat Memory4",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "description": "Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        6448,
        1248
      ],
      "id": "782576aa-d864-4e0a-9063-cf7c4add34f7",
      "name": "Refletir2"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n\nurl: Link do arquivo no Google Drive\ntipo: 'imagem' ou 'documento'\nnome_documento: caso tipo seja 'documento', passar nome do arquivo",
        "workflowId": {
          "__rl": true,
          "value": "RwWxaTYzyZsRDD8w",
          "mode": "list",
          "cachedResultName": "Enviar arquivo [Dra Domila]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', ``, 'string') }}",
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}",
            "nome_documento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_documento', ``, 'string') }}",
            "telefone_do_paciente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone_do_paciente', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_documento",
              "displayName": "nome_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone_do_paciente",
              "displayName": "telefone_do_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6288,
        1248
      ],
      "id": "10384f0e-74e8-474d-9f0e-3f8ae590654f",
      "name": "tool_enviar_arquivo_gdrive1"
    },
    {
      "parameters": {
        "toolDescription": "Cria um novo agendamento para um paciente.",
        "method": "POST",
        "url": "https://api.tisaude.com/api/schedule/new",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"idPatient\": null,\n\t\"name\": \"{{ $fromAI('name', 'Patient name', 'string') }}\",\n\t\"birthName\": \"\",\n\t\"flagWhatsapp\": 1,\n\t\"cns\": \"\",\n\t\"sns\": \"\",\n\t\"address\": \"\",\n\t\"number\": \"\",\n\t\"rg\": \"\",\n\t\"cpf\": \"{{ $fromAI('CPF', 'CPF do paciente', 'string') }}\",\n\t\"passport\": \"\",\n\t\"passport_valid_date\": \"\",\n\t\"apartment\": \"\",\n\t\"neighborhood\": \"\",\n\t\"city\": \"\",\n\t\"state\": \"\",\n\t\"zip\": \"\",\n\t\"cellphone\": \"{{ \n  $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(2).length === 10 ? \n  \"(\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(2,4) + \")\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(4,8) + \"-\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(8) :\n  \"(\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(2,4) + \")\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(4,9) + \"-\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(9)\n}}\",\n\t\"phone\": \"\",\n\t\"email\": \"\",\n\t\"obs\": \"\",\n\t\"sex\": \"\",\n\t\"dateOfBirth\": \"{{ $fromAI('dateofbirth', 'dd/mm/yyyy', 'string') }}\",\n\t\"country\": \"BR\",\n\t\"profession\": \"\",\n\t\"educationLevel\": \"\",\n\t\"education\": \"\",\n\t\"idHealthInsurance\": 1,\n\t\"healthProfessionalResponsible\": \"\",\n\t\"healthInsurancePlan\": \"\",\n\t\"healthInsurancePlanCardNumber\": \"\",\n\t\"indicatedBy\": \"Origem chatbot\",\n\t\"genre\": \"\",\n\t\"bloodType\": \"\",\n\t\"bloodFactor\": \"\",\n\t\"maritalStatus\": \"\",\n\t\"religion\": \"\",\n\t\"healthInsurancePlanCardNumberExpiry\": \"\",\n\t\"kinships\": [],\n\t\"cellphoneCountry\": \"BR\",\n\t\"acceptDuplicate\": false,\n\t\"acceptDuplicateCpf\": false,\n\t\"acceptMinorPatient\": false,\n\t\"schedule\": [\n\t\t{\n\t\t\t\"id\": \"\",\n\t\t\t\"idScheduleReturn\": null,\n\t\t\t\"dateSchudule\": \"{{ $fromAI('schedule_date', 'dd/mm/yyyy', 'string') }}\",\n\t\t\t\"local\": 2,\n\t\t\t\"idCalendar\": 1,\n\t\t\t\"procedures\": [17],\n\t\t\t\"hour\": \"{{ $fromAI('schedule_time', 'hh:mm:ss', 'string') }}\",\n\t\t\t\"room\": null,\n\t\t\t\"reasonUnchecked\": \"\",\n\t\t\t\"reasonLack\": \"\",\n\t\t\t\"recurrenceFlag\": false,\n\t\t\t\"recurrenceTimes\": \"\",\n\t\t\t\"recurrenceType\": \"SEMANALMENTE\",\n\t\t\t\"recurringChange\": \"\",\n\t\t\t\"comments\": \"\",\n\t\t\t\"prepaidGuides\": [],\n\t\t\t\"statusAppointment\": \"\",\n\t\t\t\"acceptsDuplicateScheduling\": true,\n\t\t\t\"accpetSameTimeScheduling\": true,\n\t\t\t\"acceptCanceledDay\": true,\n\t\t\t\"acceptsSchedulingSameRoom\": true,\n\t\t\t\"acceptsProcedureDurationTime\": false,\n\t\t\t\"acceptedRecurrentExisting\": false,\n\t\t\t\"idWaitingList\": null,\n\t\t\t\"accept_ineligible_patient\": false,\n\t\t\t\"accept_inconsistency\": false,\n\t\t\t\"accept_change_receivable\": false,\n\t\t\t\"type\": 1,\n\t\t\t\"selected\": false\n\t\t}\n\t]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        6080,
        1248
      ],
      "id": "90ae17b3-2eb4-450e-a460-621f5588e0a6",
      "name": "CREATE_APPOINTMENT"
    },
    {
      "parameters": {
        "toolDescription": "Busca horários livres para agendamento de um médico em uma data específica",
        "url": "https://api.tisaude.com/api/schedule/filter/calendar/hours",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            },
            {
              "name": "idCalendar",
              "value": "=1"
            },
            {
              "name": "date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_date', '2025-06-03', 'string') }}"
            },
            {
              "name": "local",
              "value": "=2"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        5888,
        1248
      ],
      "id": "a1e11f80-f426-4cb5-8fca-136b9c95a232",
      "name": "GET_AVAILABLE_HOURS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=`conversation history`: `{{ $('Process Loaded History1').item.json.conversation_text }}` ",
        "options": {
          "systemMessage": "=# PROMPT AGENTE DE ATENDIMENTO - DRA. DOMILA MATTOS\n\n---\n## VARIÁVEIS DINÂMICAS\n```\nDATA_ATUAL: {{ $now.format('FFFF') }}\nTELEFONE_PACIENTE: {{ $('Switch').item.json.phone }}\nNOME_PACIENTE: {{ $('Webhook1').item.json.body.conversation.meta.sender.name }}\n```\n{{ $('HTTP Request8').first().json.data }}"
        }
      },
      "id": "ca6f69dd-c213-41e9-9b7b-29271ad4a6c2",
      "name": "Versão TI Saude",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        5904,
        784
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tisaude.com/api/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "login",
              "value": "domila.mattos"
            },
            {
              "name": "senha",
              "value": "Lider1000$"
            },
            {
              "name": "otp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5504,
        784
      ],
      "id": "97f4d4c4-27c2-4144-ab17-899aaff448cd",
      "name": "Login TiSaude API"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5712,
        1408
      ],
      "id": "89c9be0e-0d08-4dcb-951a-62f72ac1513e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kt7BIIhS1MTQeq8c",
          "name": "OpenAi ProFort"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook EVO').first().json.body.instance.substring(0, 2) }}/conversations/{{ $('Buscar Conversas do Contato').first().json.payload[0].id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "=61"
            }
          ]
        },
        "options": {}
      },
      "id": "1752c342-342f-434a-b1fa-9e32bf4b9300",
      "name": "SendAnswer5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9296,
        2640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/conversations/{{ $('Webhook1').first().json.body.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "34c7ed83-4908-433a-9599-5f3222cc692d",
      "name": "Load Chatwoot Conversation History1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5360,
        1152
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Initialize the default output structure to be returned in case of error or empty input.\nconst defaultOutput = {\n    \"conversation_text\": \"\"\n};\n\ntry {\n    // --- INPUTS ---\n    // Assuming the primary message payload is from the first input item.\n    const messages = $('Load Chatwoot Conversation History1').first().json.payload;\n\n    // Ensure 'messages' is a valid array and messages.length > 0 before proceeding.\n    if (Array.isArray(messages) && messages.length > 0) {\n\n        // Map over each message to transform it into the desired format.\n        const fullHistory = messages.map(msg => {\n            // RULE 1: Determine the role based on the sender type.\n            const role = (msg.sender && msg.sender.type === 'contact') ? 'user' : 'assistant';\n\n            // RULE 2: Replace '/start' content with 'Hello!'.\n            // FIX: Default null content to an empty string to ensure safe concatenation.\n            let content = msg.content || '';\n\n            if (content === '/start') {\n                content = 'Hello!';\n            }\n\n            return {\n                role,\n                content\n            };\n        });\n\n        // --- TASK 2: Remove Messages with Empty Content ---\n        // Filter the generated history to exclude any messages where the content is empty or just whitespace.\n        const filteredHistory = fullHistory.filter(msg => msg.content && msg.content.trim() !== '');\n\n        // --- TASK 3: Create a single text string from the entire history ---\n        // This now uses the entire filteredHistory instead of a slice.\n        const conversationText = filteredHistory\n            .map(msg => `[${msg.role.toUpperCase()}] : ${msg.content}`)\n            .join(\", \\n\");\n\n        // Return the final string in the expected n8n JSON format.\n        return [{\n            json: {\n                \"conversation_text\": conversationText\n            }\n        }];\n\n    }\n\n    // If the input was invalid or empty, return the default empty structure.\n    return [{\n        json: defaultOutput\n    }];\n\n} catch (error) {\n    // RULE 3: If any error occurs during execution, return the default empty structure.\n    // This ensures the workflow doesn't fail.\n    console.error(\"Error processing history:\", error.message);\n    return [{\n        json: defaultOutput\n    }];\n}\n\n"
      },
      "id": "b3336e26-08ab-45d0-9582-9b7baea55c2d",
      "name": "Process Loaded History1",
      "type": "n8n-nodes-base.code",
      "position": [
        5584,
        1152
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/contacts/{{ $('Webhook1').item.json.body.conversation.contact_inbox.contact_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "05834554-cb5f-4189-a392-0f8d979c5a55",
      "name": "Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1552,
        -480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8b3ecc4-2684-49fc-867c-a28db50df53e",
              "name": "message",
              "value": "={{ $('Concatenate').item.json.message }}",
              "type": "string"
            },
            {
              "id": "3205ee9c-c35e-4f65-bb6c-baa6b8ece369",
              "name": "phone",
              "value": "={{ $('Contact').first().json.payload.phone_number }}",
              "type": "string"
            },
            {
              "id": "a35be78c-cae4-4ac7-8f4a-ee3fb888ca70",
              "name": "account_id",
              "value": "={{ $('Webhook1').first().json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "3669fdf7-ca40-4419-a520-86f094edad7a",
              "name": "contact_id",
              "value": "={{ $('Contact').first().json[\"payload\"][\"id\"] }}",
              "type": "number"
            },
            {
              "id": "389d0c66-f974-40b2-8d8d-97fee012d610",
              "name": "conversation_id",
              "value": "={{ $('Webhook1').first().json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "f013dd15-b196-44d0-8c80-60e992ac62ec",
              "name": "inbox_id",
              "value": "={{ $('Webhook1').first().json.body.conversation.messages[0].inbox_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26540b7d-8d07-4b49-8415-81a2b0f464c2",
      "name": "Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        4464,
        -880
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
        "options": {}
      },
      "id": "0481307e-5b71-4d65-919d-3b100f1830eb",
      "name": "DownloadAudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2672,
        -448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "663c7da8-46cc-4814-95be-7f45ed2707ac",
      "name": "Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2896,
        -448
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $('Whisper').item.json[\"text\"] }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Contact').first().json.payload.phone_number }}"
            },
            {
              "name": "account_id",
              "type": "numberValue",
              "numberValue": "={{ $('Webhook1').item.json.body.account.id }}"
            },
            {
              "name": "contact_id",
              "type": "numberValue",
              "numberValue": "={{ $('Contact').first().json[\"payload\"][\"id\"] }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"
            },
            {
              "name": "inbox_id",
              "stringValue": "={{ $('Webhook1').first().json.body.conversation.messages[0].inbox_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "6649d17a-e4d8-43cf-8e73-ad10ed425abd",
      "name": "Data2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3136,
        -448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH selected_messages AS (\n    SELECT id, content\n    FROM messages\n    WHERE contact = '{{ $('Edit Fields4').item.json.contact_id }}'\n  AND timestamp >= (CURRENT_TIMESTAMP - interval '26 seconds')\n    FOR UPDATE\n)\nDELETE FROM messages\nWHERE id IN (SELECT id FROM selected_messages)\nRETURNING content;",
        "options": {}
      },
      "id": "5f085078-8a9e-42d0-9be8-ed08291c54c4",
      "name": "GetAndDelete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3904,
        -1008
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "q4Dz34IzF47s1RQi",
          "name": "Draux"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const contact = $('Edit Fields4').item.json.contact_id\n\nconst messages = items.map(item => item.json.content);\nreturn [{ json: { message: messages.join(\" \"), from: `${contact}` } }];"
      },
      "id": "6d45a4ad-93e2-4c07-87b3-92f89229b8e9",
      "name": "Concatenate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        -880
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
        "options": {}
      },
      "id": "17cc1cb7-bbe4-4805-bc6a-273c5bf31f96",
      "name": "DownloadImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2464,
        -304
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $json.content }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Contact').first().json.payload.phone_number }}"
            },
            {
              "name": "account_id",
              "type": "numberValue",
              "numberValue": "={{ $('Webhook1').item.json.body.account.id }}"
            },
            {
              "name": "contact_id",
              "type": "numberValue",
              "numberValue": "={{ $('Contact').first().json[\"payload\"][\"id\"] }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"
            },
            {
              "name": "inbox_id",
              "stringValue": "={{ $('Webhook1').first().json.body.conversation.messages[0].inbox_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "240edd08-ac5a-4751-bcef-9a397b81b5e8",
      "name": "Data3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2928,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d70435da-a676-4032-8f17-d19c30fdf46d",
              "leftValue": "={{ $('Webhook1').item.json.body.conversation.messages[0].sender.id }}",
              "rightValue": 73,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "0a6c2a8b-c831-4ed8-9f54-7d78c74d3705",
              "leftValue": "={{ $json.body.conversation.meta.assignee }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -416
      ],
      "id": "0492b252-8b4e-4910-b44a-51c32efe5176",
      "name": "Quepasa?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2d17097-7751-4824-90c7-773c6491ba59",
              "name": "message",
              "value": "={{ $('Webhook1').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "58306793-cdb3-4c63-932d-258fdfba881d",
              "name": "contact_id",
              "value": "={{ $json.payload.id }}",
              "type": "string"
            },
            {
              "id": "0180307a-6704-429b-bf5d-d43fd360f0df",
              "name": "conversation_id",
              "value": "={{ $('Webhook1').item.json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "25a7b682-e851-4c84-a0ab-81e7f1071ee2",
              "name": "telefone",
              "value": "={{ $('Webhook1').item.json.body.sender.phone_number}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "879d572a-6da3-4519-a9aa-73555d154436",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1744,
        -464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "7ca024d3-2ea0-4738-b121-6a6c9b7b3035",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb5c0ab5-1b61-4b0f-8d05-8f528301c2e7",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        4272,
        -880
      ],
      "disabled": true
    },
    {
      "parameters": {
        "amount": 25
      },
      "id": "b5e7840d-0674-4984-8043-7719a1c2f473",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3600,
        -1008
      ],
      "webhookId": "40305148-9524-4b19-8b04-a04e722b2a4f",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Descreva o conteúdo dessa imagem, de forma clara e direta, para que a transcrição seja enviada para uma inteligência artificial",
        "inputType": "base64",
        "options": {
          "maxTokens": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2688,
        -304
      ],
      "id": "f2cafce9-d82c-44cf-ae31-48864eb76f2d",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6aee024e-13ea-4fac-a296-a9c09062efaf",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "32dcd916-e1c2-470d-b2a6-4ea1c65f8976",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "b0018844-f471-4db7-86fc-362ff66ab5f6",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "number"
            },
            {
              "id": "19097f3e-dc74-406e-848e-c4b42e3b48b9",
              "name": "contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "number"
            },
            {
              "id": "1e011e12-30e6-438e-acd7-1a3498415612",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "2cb2dd1d-5288-4e32-8c6c-99a3b455953c",
              "name": "inbox_id",
              "value": "={{ $json.inbox_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30af4dc8-2074-44ee-be29-e484489622f1",
      "name": "Globals Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4384,
        -544
      ]
    },
    {
      "parameters": {
        "familyName": "=",
        "givenName": "=DCAMPS - {{ $('Loop Over Items').last().json.name }}",
        "additionalFields": {
          "phoneUi": {
            "phoneValues": [
              {
                "type": "other",
                "value": "=0{{ $('HTTP Request1').item.json.number.toString().substring(2) }}"
              },
              {
                "type": "mobile",
                "value": "=+{{ $('HTTP Request1').item.json.number }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        960,
        -992
      ],
      "id": "cb6d159e-298c-4bb5-b9ae-3a7b43508c9a",
      "name": "Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "axkz4QvfIOfnopFn",
          "name": "Google Contacts account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2bdbd9e1-3794-408b-8a64-c7573fc93ed3",
              "leftValue": "={{ $json.contactId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -1088
      ],
      "id": "cd590ec3-b33d-4270-81b1-7742ede1fb07",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (content, timestamp, contact, status)\nVALUES ('{{ $json.message }}', CURRENT_TIMESTAMP, '{{ $json.contact_id }}', 'unprocessed');",
        "options": {}
      },
      "id": "80d03980-3600-4d14-860b-0e2fcb1be432",
      "name": "AddMessages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3360,
        -1008
      ],
      "credentials": {
        "postgres": {
          "id": "q4Dz34IzF47s1RQi",
          "name": "Draux"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "673ec8eb-e3fd-4e75-bdfa-4d32f0bd36d2",
              "leftValue": "={{ $json.body.sender.phone_number }}",
              "rightValue": "+5511936188206",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "165ea341-4b24-4af8-8ca7-f73a5c281ce8",
              "leftValue": "={{ $json.body.sender.phone_number }}",
              "rightValue": "+5511988056388",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ebdb76a2-31ec-4fd2-a5f6-8d8196eeeb00",
              "leftValue": "={{ $json.body.sender.phone_number }}",
              "rightValue": "+554791892828",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "256221fd-db42-40d1-8c53-7ef25b7f1af6",
      "name": "Incoming?1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        560,
        -864
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=*Historico Excluído*"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "075f4c91-191c-4e4c-a0e9-91450d31421b",
      "name": "SendAnswer2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        -1408
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "team_id",
              "value": "=8"
            }
          ]
        },
        "options": {}
      },
      "id": "ebd42731-80ea-4cea-8653-3b9c18952cd1",
      "name": "Alterar o Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        -480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "=74"
            }
          ]
        },
        "options": {}
      },
      "id": "2fa6627a-33ea-4bf4-aee8-e6a55061ecd0",
      "name": "Alterar o Usuario1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1136,
        -848
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook1').item.json.body.account.id }}/conversations/{{ $('Webhook1').item.json.body.conversation.id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id"
            },
            {
              "name": "team_id"
            }
          ]
        },
        "options": {}
      },
      "id": "c5840497-192b-4ff5-9361-ac1599171444",
      "name": "Alterar o Usuario3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        768,
        -1376
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $json.message }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Contact').first().json.payload.phone_number }}"
            },
            {
              "name": "account_id",
              "type": "numberValue",
              "numberValue": "={{ $('Webhook1').first().json.body.account.id }}"
            },
            {
              "name": "contact_id",
              "type": "numberValue",
              "numberValue": "={{ $('Contact').first().json[\"payload\"][\"id\"] }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Webhook1').first().json.body.conversation.messages[0].conversation_id }}"
            },
            {
              "name": "inbox_id",
              "stringValue": "={{ $('Webhook1').first().json.body.conversation.messages[0].inbox_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "ec35c84b-db25-499d-8929-18ad058d080d",
      "name": "Data6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        4192,
        -544
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Webhook1').first().json.body.conversation.messages[0].content_attributes.in_reply_to }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4736,
        -672
      ],
      "id": "1474e576-d596-4304-80e5-6b2301b50f82",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "bmC45JpdFCXrM2m0",
          "name": "draidbprod"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3088,
        -96
      ],
      "id": "78cf92f3-5582-463b-93dd-b0aacee61a68",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://188.245.95.11:8080/api/v1/convert/file/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        -16
      ],
      "id": "99a72dd0-b448-4a20-921d-42f8834b9ff6",
      "name": "ConvertToPDF1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "71aa4fe9-44d7-4969-ba90-cb3caf08f432"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be438c15-0a41-4a6a-9e1f-081300fe8752",
                    "leftValue": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61516146-08d7-4684-a339-ca2b3b88fb0e",
                    "leftValue": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
                    "rightValue": "doc",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2640,
        -112
      ],
      "id": "7958195a-dc12-4b63-a9ae-7a28e5bb109c",
      "name": "Switch3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://188.245.95.11:8080/api/v1/misc/ocr-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            },
            {
              "name": "languages",
              "value": "por"
            },
            {
              "name": "ocrType",
              "value": "Normal"
            },
            {
              "name": "ocrRenderType",
              "value": "hocr"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        -96
      ],
      "id": "ccf27ae0-ad5f-48a1-9a67-11f4c559686f",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
        "options": {}
      },
      "id": "68d12d1f-8f51-414f-bc5a-ceb2d6c368ad",
      "name": "DownloadDocument",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2416,
        272
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $json['text'] }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Contact').first().json.payload.phone_number }}"
            },
            {
              "name": "account_id",
              "type": "numberValue",
              "numberValue": "={{ $('Webhook1').item.json.body.account.id }}"
            },
            {
              "name": "contact_id",
              "type": "numberValue",
              "numberValue": "={{ $('Contact').first().json[\"payload\"][\"id\"] }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}"
            },
            {
              "name": "inbox_id",
              "stringValue": "={{ $('Webhook1').first().json.body.conversation.messages[0].inbox_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "7580d12c-b16b-40b5-8847-fcfcd3c68e7a",
      "name": "Data7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3552,
        -192
      ]
    },
    {
      "parameters": {
        "url": "=https://rdkbsgmykdyogjjfcqbu.supabase.co/storage/v1/object/resumes/{{ $('Insert Candidates1').first().json.body.record.file_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJka2JzZ215a2R5b2dqamZjcWJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY5NDU1ODcsImV4cCI6MjA1MjUyMTU4N30.nUMrIH4zixNpZpZXZkt_KocAFsF-a2wK7oD17q9jRX0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        -16
      ],
      "id": "77a4a37d-18f3-4e94-8b90-765dcabe5266",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "=in reply of: {{ $('Select rows from a table').first().json.content }}  \nmessage: {{ $('Globals Set').item.json.message }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Contact').first().json.payload.phone_number }}"
            },
            {
              "name": "account_id",
              "type": "numberValue",
              "numberValue": "={{ $('Webhook1').first().json.body.account.id }}"
            },
            {
              "name": "contact_id",
              "type": "numberValue",
              "numberValue": "={{ $('Contact').first().json[\"payload\"][\"id\"] }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Webhook1').first().json.body.conversation.messages[0].conversation_id }}"
            },
            {
              "name": "inbox_id",
              "stringValue": "={{ $('Webhook1').first().json.body.conversation.messages[0].inbox_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "21a9e884-f78a-4efe-8b40-eba7171a5fa6",
      "name": "Data8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        4928,
        -672
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
                    "rightValue": "User",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40f8c813-f65a-478c-92f9-fbb0da509740"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c520f9d3-8060-420e-86a6-db2ceac748c6",
                    "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
                    "rightValue": "Contact",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contact"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        704,
        -272
      ],
      "id": "e4813e63-fb5f-4ccb-8511-e250839a855c",
      "name": "Switch4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wpp2.doutorai.com.br/chat/whatsappNumbers/MaxiFlora",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "8F277C856ACC-4021-8F8D-29499F1B159E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ numbers: [$('Webhook1').first().json.body.sender.phone_number.replace('+', '')] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -608
      ],
      "id": "1a1c55f1-9a65-4cd8-ab84-f0e1015b3549",
      "name": "Buscar Nome Contato"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_maxiflora",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_maxiflora"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.body.conversation.meta.sender.phone_number }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Webhook1').item.json.body.conversation.messages[0].content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1056,
        -400
      ],
      "id": "d12ead95-38e6-4e0e-b072-853c60568135",
      "name": "Salvar Historicoo Humano4",
      "credentials": {
        "postgres": {
          "id": "bmC45JpdFCXrM2m0",
          "name": "draidbprod"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3648decc-95f3-4939-a1c4-7d8992eb1583",
              "leftValue": "={{ $json.body.meta.assignee.id }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8baa39b4-e25d-4696-be92-f59c6bd79d64",
              "leftValue": "={{ $json.body.conversation.meta.team.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -176
      ],
      "id": "55da13d3-caf2-473d-b2b4-4c2caba68696",
      "name": "If14"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_chat_histories_maxiflora where session_id = '{{ $('Webhook').item.json.body.sender.phone_number }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        528,
        -1280
      ],
      "id": "9aee3ddc-afb0-4474-b66c-7e18aab8f76d",
      "name": "Deleta Conteúdo Chat_Messages1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd5b22aa-d72f-482c-bd50-afc1e9179de9",
                    "leftValue": "={{ $json.body.content }}",
                    "rightValue": "##REINICIAR##",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "##REINICIAR##"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "leftValue": "={{ $json.body.content }}",
                    "rightValue": "TreinarIA1212:"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Normal"
            }
          ]
        },
        "options": {}
      },
      "id": "942a16cc-7c56-4308-91fd-cecf800de019",
      "name": "Rotas2",
      "type": "n8n-nodes-base.switch",
      "position": [
        240,
        -1088
      ],
      "typeVersion": 3.2,
      "notes": "Decide se é um atendimento normal ou se é um atendimento para treinar a IA. Pois agora da pra treinar a IA pelo whatsapp.\nSe for normal ele segue o fluxo, se for para treinar ele joga para o Rag\n\nSe ele identificar que o texto contém TreinarIA1623:, ele vai jogar para o treinamento. "
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0861dd6efb0d62d05719e7d187c9bf91"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados').item.json.Telefone }}\",\n    \"textMessage\": {\n      \"text\": \"Historico Removido\"\n    },\n    \"options\": {\n      \"delay\": 1000,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    }\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -1248
      ],
      "id": "82baef26-48e3-40fd-a10d-ffbe8e22f73b",
      "name": "HTTP Request1",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd235713-efe7-44d0-846f-f2da1777075f",
              "leftValue": "={{ $json.body.conversation.meta.assignee }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "9e934588-84e1-43cc-872a-f68423ebfc38",
              "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
              "rightValue": "Contact",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6530149c-71b4-4310-b710-d78f36c53a32",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "^[^\\w\\d]+$",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            },
            {
              "id": "f6f52564-b173-4d2b-91c8-314a527db64d",
              "leftValue": "={{ $json.body.conversation.meta.team.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "bb034f8c-8d03-4f40-ae7f-c319bcf5f225",
              "leftValue": "={{ $('Webhook1').item.json.body.conversation.labels }}",
              "rightValue": "=flora_nao_atender",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ae59da05-f10b-4866-b838-da6fba26a456",
              "leftValue": "={{ $json.body.conversation.messages[0].processed_message_content }}",
              "rightValue": "Connection successfully established!",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ae07e7a9-1c63-4752-9417-df3edad38521",
              "leftValue": "={{ $json.body.conversation.meta.sender.name }}",
              "rightValue": "Evolution",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "665a2e0a-fd3c-41a7-8b4e-de411301f760",
              "leftValue": "={{ $json.body.sender.phone_number }}",
              "rightValue": "+123456",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "a172c21a-146c-478a-9f04-1a3af92a8ea3",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.identifier }}",
              "rightValue": "g.us",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -672
      ],
      "id": "81c840fa-35c6-45eb-8bb0-eb228c455470",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c29e920-e6c7-4614-be0c-92540822fcac",
              "leftValue": "={{ $('Webhook1').last().json.body.conversation.messages[0].content_attributes.in_reply_to }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4528,
        -544
      ],
      "id": "708a934e-5ad2-481d-8c0d-84d9a2337979",
      "name": "If5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').first().json.body.content }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "4d3b433f-55ba-445e-9e29-eeade3db7644"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60b725c0-4272-4f2d-ae49-2d517c56ae3f",
                    "leftValue": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"file_type\"] }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8c4b643-dbbc-48e4-ae47-2b8c44e0ed30",
                    "leftValue": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"file_type\"] }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1a0dc4b-a069-45e1-8d4c-12a301b43b5d",
                    "leftValue": "={{ $('Webhook1').item.json[\"body\"][\"attachments\"][0][\"file_type\"] }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1952,
        -480
      ],
      "id": "c667441f-4bba-4029-b8f4-f33becc5872d",
      "name": "Switch5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3856,
        -544
      ],
      "id": "ac29eefc-a339-4dc4-8512-5cb829ac8220",
      "name": "Merge1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4016,
        -544
      ],
      "id": "15e58b17-5ad1-418b-bdc9-20c1092c29ac",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa73933f-58d8-432c-8398-a4dbd87d65b2",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3312,
        -16
      ],
      "id": "d2d8d5a3-a376-4453-a5c1-5aceaeb3c539",
      "name": "If9"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_maxiflora",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_maxiflora"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.body.conversation.meta.sender.phone_number }}",
            "message": "={\"type\": \"ai\", \"content\": \"{{ $('Webhook1').item.json.body.conversation.messages[0].content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1056,
        -192
      ],
      "id": "bb287f3b-518f-4ae2-90fd-2cab37099c00",
      "name": "Salvar Historicoo Humano5",
      "credentials": {
        "postgres": {
          "id": "bmC45JpdFCXrM2m0",
          "name": "draidbprod"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/pmcholding/DraDomila/refs/heads/main/prompt_agendamento.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -704
      ],
      "id": "1351f7b9-e7ee-41c7-b7fa-f4c8a53c65fb",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dradomila_chatwoot",
        "options": {}
      },
      "id": "47bed59f-746a-4590-bac4-c74bca5d0bb1",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        -672
      ],
      "webhookId": "75b7ce9a-30c8-4cd4-8506-ef88b7f11be7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ([1,2,3,4,5].includes(new Date().getDay()) && ((new Date().getHours() >= 8 && new Date().getHours() < 13) || (new Date().getHours() >= 14 && new Date().getHours() < 20))) || (new Date().getDay() === 6 && ((new Date().getHours() === 7 && new Date().getMinutes() >= 30) || (new Date().getHours() >= 8 && new Date().getHours() < 11))) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9040c0a5-113c-474b-b6f2-67041d48a2ec"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "horario comercial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cdade153-89c2-4565-b1aa-2171879c9344",
                    "leftValue": "={{ new Date().getDay() === 0 || ([1,2,3,4,5].includes(new Date().getDay()) && !((new Date().getHours() >= 8 && new Date().getHours() < 13) || (new Date().getHours() >= 14 && new Date().getHours() < 20))) || (new Date().getDay() === 6 && !((new Date().getHours() === 7 && new Date().getMinutes() >= 30) || (new Date().getHours() >= 8 && new Date().getHours() < 11))) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fora horario"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3184,
        2432
      ],
      "id": "b09a679b-7689-45dd-91c6-b72db0a0c22a",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Globals Set').first().json.account_id }}/conversations/{{ $('Globals Set').first().json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Loop Over Items3').item.json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "da933e55-dd59-4d49-9613-3d5f4f9bc686",
      "name": "SendAnswer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        8896,
        1168
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wEGPfT8U7osDdpfJ",
          "name": "Chatwoot - Anna Domila"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Globals Set').first().json.account_id }}/conversations/{{ $('Globals Set').first().json.conversation_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8896,
        992
      ],
      "id": "f08665f8-2c9c-45a6-9be8-bf1710576070",
      "name": "Check Conversation2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26a3fdc7-6924-40df-b0ce-3e5617f578ff",
              "leftValue": "={{ $json.messages[0].conversation.assignee_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3d3a9a7b-c272-4d18-b58b-675c7707b195",
              "leftValue": "={{ $json.meta.team.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9280,
        992
      ],
      "id": "fa84bab8-04a4-4b4f-939a-7bb304273926",
      "name": "If6",
      "executeOnce": true
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9280,
        1168
      ],
      "id": "0933fac1-f6eb-48c0-9d58-bd99127e2c49",
      "name": "Wait6",
      "webhookId": "df9b9e2d-ee33-4c27-ab7f-8c3323899174"
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/inboxes/{{ $('Webhook1').item.json.body.conversation.inbox_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            }
          ]
        },
        "options": {}
      },
      "id": "b634d17b-2459-465e-ba49-0a62060287aa",
      "name": "Get Inbox Config",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3472,
        2048
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
              "leftValue": "={{ $json.enable_auto_assignment }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "067524d7-39d3-46c2-9fa7-65b4857157a8",
      "name": "If Auto Assignment Enabled",
      "type": "n8n-nodes-base.if",
      "position": [
        3504,
        2272
      ],
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Check Conversation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ListMessages-Supabase2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pause1": {
      "main": [
        [
          {
            "node": "Rota Atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento1": {
      "main": [
        [
          {
            "node": "Check Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Conversation": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message_robo": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase12": {
      "main": [
        [
          {
            "node": "Compara Get Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Get Memory": {
      "main": [
        [
          {
            "node": "Verificar Pause1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        []
      ]
    },
    "MCP_CALENDAR1": {
      "ai_tool": [
        []
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "SendAnswer5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "ListMessages-Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory4": {
      "ai_memory": [
        []
      ]
    },
    "Refletir2": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_enviar_arquivo_gdrive1": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_APPOINTMENT": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET_AVAILABLE_HOURS": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Versão TI Saude": {
      "main": [
        [
          {
            "node": "message_robo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login TiSaude API": {
      "main": [
        [
          {
            "node": "Versão TI Saude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Load Chatwoot Conversation History1": {
      "main": [
        [
          {
            "node": "Process Loaded History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Loaded History1": {
      "main": [
        [
          {
            "node": "Login TiSaude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Globals Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadAudio": {
      "main": [
        [
          {
            "node": "Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper": {
      "main": [
        [
          {
            "node": "Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAndDelete": {
      "main": [
        [
          {
            "node": "Concatenate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadImage": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Quepasa?": {
      "main": [
        [
          {
            "node": "Alterar o Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "GetAndDelete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals Set": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Google Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddMessages": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming?1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alterar o Usuario3": {
      "main": [
        [
          {
            "node": "SendAnswer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data6": {
      "main": [
        [
          {
            "node": "AddMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Data8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToPDF1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConvertToPDF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConvertToPDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadDocument": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data8": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Historicoo Humano5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Nome Contato": {
      "main": [
        [
          {
            "node": "Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Chat_Messages1": {
      "main": [
        [
          {
            "node": "Alterar o Usuario3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas2": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Chat_Messages1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incoming?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DownloadAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DownloadImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DownloadDocument",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Data6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Buscar Nome Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Rotas2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quepasa?",
            "type": "main",
            "index": 0
          },
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Inbox Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Chatwoot Conversation History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendAnswer1": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Conversation2": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "SendAnswer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inbox Config": {
      "main": [
        [
          {
            "node": "If Auto Assignment Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Auto Assignment Enabled": {
      "main": [
        [
          {
            "node": "Load Chatwoot Conversation History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook1": [
      {
        "headers": {
          "host": "api.doutorai.com.br",
          "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
          "content-length": "2439",
          "accept": "application/json",
          "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
          "content-type": "application/json",
          "x-forwarded-for": "49.13.204.90",
          "x-forwarded-host": "api.doutorai.com.br",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "d1ab633b7d2b",
          "x-real-ip": "49.13.204.90"
        },
        "params": {},
        "query": {},
        "body": {
          "account": {
            "id": 25,
            "name": "Acsa - Relacionamento Dra. Domila"
          },
          "additional_attributes": {},
          "content_attributes": {},
          "content_type": "text",
          "content": "teste2",
          "conversation": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Api",
            "contact_inbox": {
              "id": 44904,
              "contact_id": 149197,
              "inbox_id": 145,
              "source_id": "4d8cf656-af6f-46e4-b45d-26b98f9390da",
              "created_at": "2025-11-17T23:37:03.933Z",
              "updated_at": "2025-11-17T23:37:03.933Z",
              "hmac_verified": false,
              "pubsub_token": "JfAQTpEdkG6QVRXh8wAgnTgK"
            },
            "id": 1772,
            "inbox_id": 145,
            "messages": [
              {
                "id": 1123555,
                "content": "teste2",
                "account_id": 25,
                "inbox_id": 145,
                "conversation_id": 1772,
                "message_type": 0,
                "created_at": 1768761664,
                "updated_at": "2026-01-18T18:41:04.753Z",
                "private": false,
                "status": "sent",
                "source_id": "WAID:3EB0FBAFC282E59AB4DBD3",
                "content_type": "text",
                "content_attributes": {},
                "sender_type": "Contact",
                "sender_id": 149197,
                "external_source_ids": {},
                "additional_attributes": {},
                "processed_message_content": "teste2",
                "sentiment": {},
                "conversation": {
                  "assignee_id": null,
                  "unread_count": 1,
                  "last_activity_at": 1768761664,
                  "contact_inbox": {
                    "source_id": "4d8cf656-af6f-46e4-b45d-26b98f9390da"
                  }
                },
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 149197,
                  "identifier": "5511936188206@s.whatsapp.net",
                  "name": "Fernando Pereira",
                  "phone_number": "+5511936188206",
                  "thumbnail": "",
                  "type": "contact"
                }
              }
            ],
            "labels": [],
            "meta": {
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 149197,
                "identifier": "5511936188206@s.whatsapp.net",
                "name": "Fernando Pereira",
                "phone_number": "+5511936188206",
                "thumbnail": "",
                "type": "contact"
              },
              "assignee": null,
              "team": null,
              "hmac_verified": false
            },
            "status": "open",
            "custom_attributes": {},
            "snoozed_until": null,
            "unread_count": 1,
            "first_reply_created_at": "2025-11-17T23:37:12.781Z",
            "priority": null,
            "waiting_since": 1768761664,
            "agent_last_seen_at": 1768761660,
            "contact_last_seen_at": 0,
            "last_activity_at": 1768761664,
            "timestamp": 1768761664,
            "created_at": 1763422623
          },
          "created_at": "2026-01-18T18:41:04.753Z",
          "id": 1123555,
          "inbox": {
            "id": 145,
            "name": "Whatsapp2"
          },
          "message_type": "incoming",
          "status": "sent",
          "private": false,
          "sender": {
            "account": {
              "id": 25,
              "name": "Acsa - Relacionamento Dra. Domila"
            },
            "additional_attributes": {},
            "avatar": "",
            "custom_attributes": {},
            "email": null,
            "id": 149197,
            "identifier": "5511936188206@s.whatsapp.net",
            "name": "Fernando Pereira",
            "phone_number": "+5511936188206",
            "thumbnail": ""
          },
          "source_id": "WAID:3EB0FBAFC282E59AB4DBD3",
          "event": "message_created"
        },
        "webhookUrl": "https://api.doutorai.com.br/webhook/dradomila_chatwoot",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dff2809c326d67264ac89b11c62a81c0e33c81a110b2979fd152608e157400d"
  }
}