[Dra Domila] - bot.json
{
  "name": "[Dra Domila] - bot",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "e6835b27-6b4b-4e76-93ab-cce27fc5fdb2",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -3024,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "7b983c4b-12c0-4121-9099-0d2a19831454",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -2976,
        1072
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Agente IA - Onde fica o treinamento do Robô",
        "height": 80,
        "width": 796,
        "color": 5
      },
      "id": "e600ed50-19dd-4619-87c2-1b90b0e7af1e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3488,
        1600
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "d1164247-f82b-49b4-86f1-90447d9e0e5a",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -3040,
        864
      ],
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        1584
      ],
      "typeVersion": 1,
      "id": "2b75a9fd-356e-4140-8e39-495f267f7486",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "2c7f56fe-f749-45a8-84b7-8f033418f5ff",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        7008,
        848
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3cac13c7-f4ca-4f0d-be30-7a5d11cc0993",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8704,
        1728
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "db3cf295-cb4a-4e01-9c44-7ae6ea631f14",
      "name": "OutputParser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        7040,
        800
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $('message_robo').item.json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Você deve agir agora como um especialista em identificar divisões lógicas em um texto e separá-lo em partes distintas.\n\nGere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\n### Sempre que tiver um link envie ele de forma separada sem alteração\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo,nunca fugindo das demais regras de markdown do whatsapp:\n            - `link` (usar sempre em todos os links)"
            }
          ]
        }
      },
      "id": "b6b709f1-31d2-4227-9903-bc8d3f1cd6fc",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        7040,
        720
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 1540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4416,
        1664
      ],
      "typeVersion": 1,
      "id": "b7e6ae12-a91a-482e-9841-12419a8c0d8b",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Divisão de Mensagens Inteligente - Para a Ia não responder um bloco com uma mensagem só. ",
        "height": 140,
        "width": 1356,
        "color": 5
      },
      "id": "b6975cb7-6379-4df4-9692-c1c6f0e07cb9",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4352,
        1600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "2025300",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "2aa763f7-cf04-44e7-9bbb-8f8de823aef8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar na IA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "820760d6-3546-4007-8917-55d366a74261",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "2025300",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Avisar Lead grupo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7472,
        1840
      ],
      "id": "f4af8652-ef1b-4c73-926a-a20e00dd0919",
      "name": "Switch2",
      "notes": "Identifica se contém o protocolo na mensagem e caso tenha, direciona para o bloco de jogar a informação para dentro do grupo. "
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        8640,
        2528
      ],
      "id": "422545d7-692b-435c-970b-40b6d34438da",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 1620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4544,
        2224
      ],
      "typeVersion": 1,
      "id": "b855c509-6037-4940-a660-65ae1ef47529",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "# AVISAR NOVO LEAD NO GRUPO - Quando. a IA informar o protocolo, ele joga pra cá. ",
        "height": 80,
        "width": 1596,
        "color": 5
      },
      "id": "71b01446-df3b-419c-9e53-36276ab8c271",
      "name": "Sticky Note45",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        2240
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4432,
        2768
      ],
      "typeVersion": 1,
      "id": "70b99084-b929-498e-b7d3-b639479b17ce",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "# Cadastra Chat Supabase - Cadastra o histórico de conversa para a IA usar depois.",
        "height": 100,
        "width": 1330,
        "color": 5
      },
      "id": "0662d845-5529-44ee-b444-1b218fb6df5b",
      "name": "Sticky Note55",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4448,
        2704
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "c0198f94-1c3d-4f04-be5c-bfd29fb30a25",
      "name": "Split de Mensagem",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7568,
        880
      ]
    },
    {
      "parameters": {
        "name": "buscar_documentos",
        "description": "Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto",
        "topK": 2
      },
      "id": "9536795b-5a82-448c-bac1-03f4e1592e96",
      "name": "buscar_documentos",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -2928,
        720
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_messages",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8080,
        2368
      ],
      "id": "816884e9-2bfa-4421-a604-8cac948a099c",
      "name": "ListMessages-Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversas",
        "include": "specifiedFields",
        "fieldsToInclude": "id,message_type,created_at,user_message, bot_message,phone",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        8288,
        2368
      ],
      "id": "9bc12d11-ebd8-4d79-8ff9-c27d299850f0",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsCode": "return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8464,
        2368
      ],
      "id": "824a9e6c-45ae-4f96-9728-4e05db3fd5e5",
      "name": "Code6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"role\": \"Agente Resumidor de Casos\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados dos problemas\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas os problemas do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"Apenas problemas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do problema com detalhes relevantes\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        8672,
        2368
      ],
      "id": "05889faa-c32e-4f8c-a273-5f3a4cb07c98",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        1920
      ],
      "id": "410faade-752b-4f6b-b236-cbc8bb153e20",
      "name": "If1",
      "notes": "Se o lead (telefone) ja existir ele passa por aqui."
    },
    {
      "parameters": {
        "tableId": "dados_cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nomewpp",
              "fieldValue": "={{ $('Dados').item.json.NomeWpp }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        2064
      ],
      "id": "b0ac88da-f249-41f3-9630-0db748516d25",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      },
      "notes": "Se o lead não existir, esse node cadastra ele no Supa."
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 1780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        1568
      ],
      "typeVersion": 1,
      "id": "7d746d28-d5bd-4c4a-9be3-d83ae974fe26",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "",
        "height": 660,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        1552
      ],
      "typeVersion": 1,
      "id": "a90e2762-0920-43ea-b740-cb8a3a7c117e",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        1760
      ],
      "typeVersion": 1,
      "id": "e8561242-ea24-4602-8a3b-b921bf6b3081",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# Cadastrar Lead Supa Base",
        "height": 80,
        "width": 596,
        "color": 4
      },
      "id": "14fbf012-5fab-483f-b524-c9da6b3aa00c",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        1792
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        1712
      ],
      "typeVersion": 1,
      "id": "bec24387-2e05-4cc1-a4e8-e962a0eed72a",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        1264
      ],
      "typeVersion": 1,
      "id": "ca1668a0-32ca-4fb2-ac09-63451e124bd6",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        864
      ],
      "typeVersion": 1,
      "id": "ea71b036-83c4-4e24-b433-1bdb8213beae",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        1264
      ],
      "typeVersion": 1,
      "id": "dbb3d291-4a28-49f4-8231-b2b02606f89c",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "# Pausar IA e Salvar no Histórico",
        "height": 80,
        "width": 576,
        "color": 4
      },
      "id": "79a311eb-3b47-4a03-b13b-3ec25fba7c8e",
      "name": "Sticky Note41",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        1712
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -944,
        880
      ],
      "id": "90bb8bfa-b674-4abf-8743-df6150a757fc",
      "name": "Cria Tabela Dados Cliente",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        112,
        880
      ],
      "id": "d60aab6f-5c70-4c07-8c71-129b7abec343",
      "name": "Cria Tabela Documentos",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from documents",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -176,
        1280
      ],
      "id": "b4b11927-53ff-4257-a4c1-ee4cf22f7534",
      "name": "Deleta Conteúdo Documentos",
      "credentials": {
        "postgres": {
          "id": "kHnCqSKe4Y88Civ1",
          "name": "Postgres Disparos"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        864
      ],
      "typeVersion": 1,
      "id": "2420c1c3-20a0-4e52-b90d-ed9b95ad7491",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        864
      ],
      "typeVersion": 1,
      "id": "bcc37be8-b594-4c29-a38b-9cdd646ce2f7",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        864
      ],
      "typeVersion": 1,
      "id": "ed787988-4414-47df-ac8b-baf0da682471",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        864
      ],
      "typeVersion": 1,
      "id": "3f70e52e-5c3a-4f52-bee7-09dff0d4a036",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        1264
      ],
      "typeVersion": 1,
      "id": "464814bf-d8d0-4746-bcfe-22868b40b40d",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        864
      ],
      "typeVersion": 1,
      "id": "b1ded297-8b06-42d2-b9ff-8ad4b4091f50",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1216,
        1312
      ],
      "id": "decbc96d-6da7-48ac-a1c4-f21f05ebd399",
      "name": "Deleta Histórico",
      "credentials": {
        "postgres": {
          "id": "kHnCqSKe4Y88Civ1",
          "name": "Postgres Disparos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -160,
        880
      ],
      "id": "cc484a76-ccb9-4bcf-afba-6f781027e70e",
      "name": "Cria função Busca em Vetor",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create extension vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -416,
        880
      ],
      "id": "5a627761-acfa-42d9-917d-37a9e63e68dd",
      "name": "Cria Extensão Vetor",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -688,
        880
      ],
      "id": "0aa1388d-dd94-4410-970c-87a125185e63",
      "name": "Cria Tabela Chats",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        1264
      ],
      "typeVersion": 1,
      "id": "e0669b74-668b-412d-a888-fcde14e6e903",
      "name": "Sticky Note65"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from chats",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -448,
        1280
      ],
      "id": "e51c598a-da72-430d-82a0-091dc78fe005",
      "name": "Deleta Conteúdo Chats",
      "credentials": {
        "postgres": {
          "id": "kHnCqSKe4Y88Civ1",
          "name": "Postgres Disparos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from dados_cliente",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -704,
        1280
      ],
      "id": "17850fb1-3f59-4dca-8242-ca0f5dd5a22c",
      "name": "Deleta Conteúdo Dados Cliente",
      "credentials": {
        "postgres": {
          "id": "kHnCqSKe4Y88Civ1",
          "name": "Postgres Disparos"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        1264
      ],
      "typeVersion": 1,
      "id": "30cde1b8-8e2e-4389-9c85-a6081e5d12ba",
      "name": "Sticky Note66"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_chat_histories where session_id = '{{ $('Dados').item.json.Telefone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -448,
        1600
      ],
      "id": "ba1eebdf-a06a-430c-b25c-feb5e838ac22",
      "name": "Deleta Conteúdo Chat_Messages",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE chat_messages_temp (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1200,
        880
      ],
      "id": "6af45d3f-bedc-4b70-846f-79730254c64f",
      "name": "Cria Tabela Chat_Messages",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "263fe3f5-5ff1-4800-81d6-9d2b096e2929",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        2048
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eb40ab9e-451b-4f22-b2a0-d246b71ca97e",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        2048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd9c3cbb-9256-4ae9-ac72-04d1512b6ef2",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2512,
        2048
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "14938c4d-e82e-4b39-8b9d-ba754ab24345",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1712,
        1808
      ]
    },
    {
      "parameters": {
        "content": "# Mensagem Picotada - Junta todas as mensagens caso o usuário escreva varias mensagens separadas. ",
        "width": 976,
        "color": 4
      },
      "id": "d12a0afc-01c6-459f-8af2-cc91f2e4740a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        1568
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise a imagem, verifique o que ela é e traga um resumo mais curto possível.",
        "inputType": "base64",
        "options": {}
      },
      "id": "72b8b21c-269b-488b-95ee-50ef01279ff9",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2320,
        2048
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "4dc9e41b-b986-4f1e-9c8f-266bcabba35b",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3344,
        1872
      ],
      "webhookId": "ea7a6fa7-603c-4901-8c96-0e2509e8cf16"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c878f9b-2c93-4061-954a-a832153e7647"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "c34a0bc6-ef78-4fb5-b619-21fefae4cfc6",
      "name": "Switch6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        144,
        1872
      ],
      "notes": "Define rotas - pega do \"dados\" o tipo de evento.\nSe for \"incoming\" quer dizer que é um evento da propria IA, ai ele continua a IA.\nSe for \"outcoming\" quer dizer que é um evento de fora, no caso um humano assumiu o controle. Ai ele Pausa a IA."
    },
    {
      "parameters": {
        "content": "# Filtro de menagem - Filtra todos os dados que recebeu antes e organiza na memoria para a IA saber o que cada coisa é. ",
        "height": 200,
        "width": 696,
        "color": 4
      },
      "id": "4ef655c1-d1fa-41e4-a6d2-9fda03215880",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const messages = items.map(item => item.json.bot_message);\nreturn [{ json: { message: messages.join(\" \") } }];\n"
      },
      "id": "35ecbcea-8218-4553-ad43-1edf3c5835b0",
      "name": "Mensagem Completa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "4a6d2ea9-e972-40e2-a5ae-9bc89a6187a7",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2304,
        1840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "76654001-c7e2-47fc-b724-1f34183aaab4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        1840
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "dab69496-1b6c-4adf-8d52-d372630d010a",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2480,
        1840
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente treinamento RAG, ativação automática como o texto: treinoAI: Podemos dar um comando no Switch para ele atualizar o banco de dados de treinamento da IA, ou podemos setar para atualizar todo dia sozinho.\n",
        "height": 840,
        "width": 2220,
        "color": 4
      },
      "id": "c15ab203-062b-4fd6-8f35-d85cf3931b5e",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        2272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Ferramentas para criar\n\n",
        "height": 80,
        "width": 456,
        "color": 4
      },
      "id": "497e2f32-0792-41ac-b6d3-79c5bbe22598",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        768
      ]
    },
    {
      "parameters": {
        "content": "# Ferramentaspara apagar\n\n",
        "height": 80,
        "width": 496,
        "color": 3
      },
      "id": "421d1470-0452-4ffb-a4ac-6b34624f7ae2",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1296,
        1168
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd5b22aa-d72f-482c-bd50-afc1e9179de9",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.message.conversation }}",
                    "rightValue": "##REINICIAR##",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "##REINICIAR##"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.message.conversation }}",
                    "rightValue": "TreinarIA1212:"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "normal"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $('Webhook EVO').item.json.body.data.message.conversation }}",
                    "rightValue": "TreinarIA1212:"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Treinamento"
            }
          ]
        },
        "options": {}
      },
      "id": "72da9da2-8a72-4640-8a6f-3066090643d2",
      "name": "Rotas",
      "type": "n8n-nodes-base.switch",
      "position": [
        -704,
        1968
      ],
      "typeVersion": 3.2,
      "notes": "Decide se é um atendimento normal ou se é um atendimento para treinar a IA. Pois agora da pra treinar a IA pelo whatsapp.\nSe for normal ele segue o fluxo, se for para treinar ele joga para o Rag\n\nSe ele identificar que o texto contém TreinarIA1623:, ele vai jogar para o treinamento. "
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        2048
      ],
      "id": "c5e0aff6-77e9-4452-96b2-f5cf5ef9d9a5",
      "name": "Verificar Pause",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "ff00573b-e517-43c6-8644-14a4fe8565d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "5fb65191-4e90-485e-b7a2-551f11016564",
      "name": "Rota Atendimento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1072,
        2064
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Rotas').item.json.message.content }}",
                    "rightValue": "Atendimento finalizado"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reativar IA"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $('Rotas').item.json.message.content }}",
                    "rightValue": "Atendimento finalizado"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA Pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "4b21ab94-ada7-4ff3-abe2-9bb3ddcd288f",
      "name": "Rotas1",
      "type": "n8n-nodes-base.switch",
      "position": [
        544,
        1888
      ],
      "typeVersion": 3.2,
      "notes": "Aqui é onde. o humano ativa novamente a IA.\nSe ele escrever \"Atendimento finalizado\" ele vai ativar a IA novamente, ai eu posso setar o tempo no bloco de tempo para que não seja instantâneo.\nSe não tiver essa mensagem de \"Atendimento finalizado\", ela continua pausada. "
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        1904
      ],
      "id": "ff623eed-a3fa-4f03-8fed-483dfef1751b",
      "name": "Wait",
      "webhookId": "5b1ae411-002e-4eca-bff7-67ebe4fd73f3"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').item.json.Telefone }}",
            "message": "={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1504,
        2112
      ],
      "id": "228796a4-ca01-4c8c-a9d9-5eca2bb01f53",
      "name": "Salvar Historicoo Humano1",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        720
      ],
      "typeVersion": 1,
      "id": "2e1ab2fe-37c3-4f05-8482-1e0113236205",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        1120
      ],
      "typeVersion": 1,
      "id": "9f04879b-bdc2-4b0f-ba80-ac816ebd54a8",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').item.json.Telefone }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        1760
      ],
      "id": "4d65e401-6c6e-48b6-8dc0-a31bb83268d0",
      "name": "Salvar Historicoo Humano",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -464,
        1968
      ],
      "id": "3ac39cfd-491f-4a28-a813-fc1c17da8dc7",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      },
      "notes": "Verifica se já tem esse lead no supabase.\nSe for verdadeiro ele vai para o If1. Se não for ele cadastra o lead no Supabase."
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').first().json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9600,
        1712
      ],
      "id": "4ec38479-c7d2-46fb-aefc-4360c7444a6e",
      "name": "Verificar Pause1",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "ff00573b-e517-43c6-8644-14a4fe8565d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "215d6805-e327-4106-9bcf-588f2bddd1c2",
      "name": "Rota Atendimento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        9984,
        1712
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/conversations/{{ $('Dados').item.json.Conversation.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9600,
        1904
      ],
      "id": "251d4121-9b00-4ee0-a3e6-d21966b8b651",
      "name": "Check Conversation",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26a3fdc7-6924-40df-b0ce-3e5617f578ff",
              "leftValue": "={{ $json.messages[0].conversation.assignee_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9984,
        1904
      ],
      "id": "a22bfefe-e33e-4223-8a23-3e79e3dafe2c",
      "name": "If2",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/conversations/{{ $('Dados').item.json.Conversation.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        2112
      ],
      "id": "673772da-85b4-41c1-83d5-4374a8447a84",
      "name": "Check Conversation1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26a3fdc7-6924-40df-b0ce-3e5617f578ff",
              "leftValue": "={{ $json.messages[0].conversation.assignee_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        2112
      ],
      "id": "4c7c92b7-a9e4-4df5-8e5e-f176cd7668a9",
      "name": "If7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c878f9b-2c93-4061-954a-a832153e7647"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "8007e440-3006-414c-898c-2b3a355f1e69",
      "name": "Switch7",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        144,
        2064
      ],
      "notes": "Define rotas - pega do \"dados\" o tipo de evento.\nSe for \"incoming\" quer dizer que é um evento da propria IA, ai ele continua a IA.\nSe for \"outcoming\" quer dizer que é um evento de fora, no caso um humano assumiu o controle. Ai ele Pausa a IA."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories\nWHERE session_id LIKE '%988127434%';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        112,
        1280
      ],
      "id": "a05afdef-382f-4c28-a3a1-d172d845e985",
      "name": "Deleta Conteúdo Documentos1",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages_temp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $('Dados').item.json.message.content }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        1600
      ],
      "id": "574753db-6715-45a3-a4ea-9dc7a531bb97",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages_temp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2672,
        1840
      ],
      "id": "38a5f5a1-75fd-48cc-9582-52aadf6455ef",
      "name": "Supabase5",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages_temp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2704,
        2224
      ],
      "id": "ea17e793-32b8-4df3-90cb-c8e38f042fb8",
      "name": "Supabase6",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages_temp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2704,
        2032
      ],
      "id": "6900ee82-2447-4928-b5e7-e955e50b2606",
      "name": "Supabase7",
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2896,
        960
      ],
      "id": "3d015eb5-4d89-4cae-af8b-b2e730241b34",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_completa }}",
        "options": {
          "systemMessage": "={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"
        }
      },
      "id": "21a7a1c1-a2d9-4e06-ac06-e7cffa8cc77c",
      "name": "Agente Rag",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -3376,
        432
      ],
      "notes": "Busca informação no bloco de rag e informar a IA antes de dar a resposta, para conferir se tem alguma informação importante que precisa ser acrescentada. "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2668389-cada-4af5-85ab-990d532d3764",
              "leftValue": "={{ $('Webhook EVO').item.json.body.data.key.remoteJid  }}",
              "rightValue": "@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "6ce27f56-5235-413c-8e99-2486acc83ea2",
              "leftValue": "={{ $('Webhook EVO').item.json.body.data.key.remoteJid  }}",
              "rightValue": "@lid",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        1952
      ],
      "id": "4fd1a278-e40d-4135-99b7-5813e21f3dd2",
      "name": "If8",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1616,
        2032
      ],
      "id": "cae4f917-0a21-4087-a15e-cbd171274a50",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dradomila",
        "options": {}
      },
      "id": "8f82e326-c786-422c-ae9f-d4f289469050",
      "name": "Webhook EVO",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3088,
        2208
      ],
      "webhookId": "0ff28bf8-0b75-4321-bea7-684b056410fb",
      "notes": "recebe informações de outro local"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        6912,
        1152
      ],
      "id": "0a5b53f9-989d-4024-b8c2-9b0258e23f94",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7248,
        944
      ],
      "id": "6ac7d3d7-3f60-4be7-b168-02c2e925a25a",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "kt7BIIhS1MTQeq8c",
          "name": "OpenAi ProFort"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7232,
        1728
      ],
      "id": "f995696f-1e3f-4ffe-9289-bed7f3182d8e",
      "name": "message_robo"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_messages_temp",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9584,
        1504
      ],
      "id": "cf48c16b-9d50-4263-9d20-7fa62dc69c46",
      "name": "Supabase12",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "8aL8mTud30tTENaa",
          "name": "BotNew"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp.doutorai.com.br/chat/sendPresence/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0861dd6efb0d62d05719e7d187c9bf91"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados').item.json.Telefone }}\",\n    \"delay\": {{ Math.floor(Math.random() * (1000 - 500 + 1)) + 500 }},\n    \"presence\": \"composing\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7968,
        1424
      ],
      "id": "19b55140-4995-40be-ba1b-402215295988",
      "name": "WhatsApp Typing",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wps.doutorai.com.br/chat/sendPresence/{{ $('Webhook Entry').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "f3ec5720890f630c490591e7a57edce5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Contact Data').item.json.Telefone }}\",\n    \"delay\": {{ Math.floor(Math.random() * (10000 - 3000 + 1)) + 3000 }},\n    \"presence\": \"composing\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7584,
        1424
      ],
      "id": "7b570ea9-d845-4f82-a555-1323416a0b61",
      "name": "WhatsApp Typing1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $(\"Supabase12\").item.json.bot_message }}",
              "rightValue": "={{ $(\"Supabase12\").all().map(item => item.json.bot_message) }}",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75bb2bdd-eff3-415d-927c-741a2a050796",
      "name": "Compara Get Memory",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10000,
        1504
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH selected_messages AS (\n    SELECT id, bot_message\n    FROM chat_messages_temp\n    WHERE phone = '{{ $('Dados').first().json.Telefone }}'\n      AND created_at >= (CURRENT_TIMESTAMP - interval '31 seconds')\n    FOR UPDATE\n)\nDELETE FROM chat_messages_temp\nWHERE phone = '{{ $('Dados').first().json.Telefone }}'\nRETURNING bot_message;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3568,
        1872
      ],
      "id": "35c345f9-e383-4ccc-a9e2-bd7326c01449",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "7ca024d3-2ea0-4738-b121-6a6c9b7b3035",
              "leftValue": "={{ $json.bot_message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e241a1f-6c65-429b-a172-5ec309b96cd6",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        4400,
        1888
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "bot_message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4624,
        1888
      ],
      "id": "74daf8d5-af5f-4544-814c-906c45c11c92",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp2.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "15433788D231-492B-8CE4-D5363B7A250F"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados').item.json.Telefone }}\",\n      \"text\": {{ JSON.stringify( $('message_robo').item.json.output ) }},\n    \"options\": {\n      \"delay\": 1000,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    }\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9600,
        2080
      ],
      "id": "4609f179-c0d4-4b9f-8e37-03dd73fd7e86",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9984,
        2080
      ],
      "id": "00e8e7c0-2d6a-4d04-a517-db29ef041d98",
      "name": "Wait2",
      "webhookId": "0d9ea828-f7ce-4c84-9f61-3e8b34f22f6f"
    },
    {
      "parameters": {
        "sseEndpoint": "https://api.doutorai.com.br/mcp/ceb17fa5-1937-405f-8000-ea3be7d2b032/mcp/:tool/calendar/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        6640,
        2672
      ],
      "id": "21a5ba7a-bc7d-4fb7-aef7-23cbbe553416",
      "name": "MCP_CALENDAR1"
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/conversations/{{ $json.body.data.chatwootConversationId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2384,
        1664
      ],
      "id": "9f70c973-9ab7-4f71-9b45-8fc87d89ccb9",
      "name": "Buscar Contato por Identifier",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/contacts/{{ $node[\"Buscar Contato por Identifier\"].json.payload[0].id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2080,
        1664
      ],
      "id": "c0b7b2bf-62ac-480c-b7e1-98bff3d39a9b",
      "name": "Buscar Conversas do Contato",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook EVO').item.json.body.instance.substring(0, 2) }}/conversations/{{ $('Buscar Conversas do Contato').item.json.payload[0].id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "=61"
            }
          ]
        },
        "options": {}
      },
      "id": "d82692d6-c333-4dee-a2da-cc8085e2a0ac",
      "name": "SendAnswer3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        848,
        1744
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook EVO').item.json.body.instance.substring(0, 2) }}/conversations/{{ $('Buscar Conversas do Contato').item.json.payload[0].id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "02c1045d-8d82-4d09-bb5a-e5b48dba0b4c",
      "name": "SendAnswer4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        1904
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Webhook Chatwoot').item.json.body.meta.sender.identifier }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Webhook Chatwoot').item.json.body.messages[0].content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1616,
        2400
      ],
      "id": "70b6aaf6-dd83-406c-89a6-a798ddd8dd2a",
      "name": "Salvar Historicoo Humano2",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dradomila_chatwoot",
        "options": {}
      },
      "id": "da8c3ff6-3a6d-4b67-8251-3e0ada193c55",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2096,
        2272
      ],
      "webhookId": "0ff28bf8-0b75-4321-bea7-684b056410fb",
      "disabled": true,
      "notes": "recebe informações de outro local"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3648decc-95f3-4939-a1c4-7d8992eb1583",
              "leftValue": "={{ $json.body.meta.assignee.id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1904,
        2432
      ],
      "id": "3b86759c-f974-48a8-befa-dc90e653bb45",
      "name": "If10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0861dd6efb0d62d05719e7d187c9bf91"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados').item.json.Telefone }}\",\n    \"textMessage\": {\n      \"text\": \"Historico Removido\"\n    },\n    \"options\": {\n      \"delay\": 1000,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    }\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        1600
      ],
      "id": "f9ce41df-e209-4627-a3ff-7be175ac8086",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sseEndpoint": "https://api.doutorai.com.br/mcp/tisaude-mcp-2024/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        7392,
        1424
      ],
      "id": "c866ca1d-d731-4e7e-95ac-927418ece7a2",
      "name": "MCP_TISAUDE_SISTEMA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0861dd6efb0d62d05719e7d187c9bf91"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363419250272723@g.us\",\n  \"textMessage\": {\n    \"text\": {{ JSON.stringify(\n      `Paciente: ${$('Dados').first().json.NomeWpp}\nNúmero: ${$('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", \"\")} \n\nResumo do caso:\n${$json.text}`\n    ) }}\n  },\n  \"options\": {\n    \"delay\": 1000,\n    \"presence\": \"composing\",\n    \"linkPreview\": false\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9024,
        2512
      ],
      "id": "eaf4b8b1-e7c1-45a5-8c59-3b80d4906b0a",
      "name": "HTTP Request4",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp.doutorai.com.br/message/sendText/{{ $('Webhook EVO').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "0861dd6efb0d62d05719e7d187c9bf91"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados').item.json.Telefone }}\",\n    \"textMessage\": {\n      \"text\": {{ JSON.stringify(  $json.output ) }}\n    },\n    \"options\": {\n      \"delay\": 1000,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    }\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7840,
        2544
      ],
      "id": "80ac4a05-7b37-4961-982a-198ef383874d",
      "name": "HTTP Request5",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2848,
        2064
      ],
      "id": "7ad647d7-345a-48fe-b540-a8ba9ddf1d65",
      "name": "Wait4",
      "webhookId": "d0011145-48cf-469e-9a40-2290657c8b1c"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.Telefone }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5808,
        1008
      ],
      "id": "1eeaedfd-49af-421e-95cb-a233a2b9748e",
      "name": "Postgres Chat Memory4",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "description": "Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        6448,
        1248
      ],
      "id": "782576aa-d864-4e0a-9063-cf7c4add34f7",
      "name": "Refletir2"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n\nurl: Link do arquivo no Google Drive\ntipo: 'imagem' ou 'documento'\nnome_documento: caso tipo seja 'documento', passar nome do arquivo",
        "workflowId": {
          "__rl": true,
          "value": "RwWxaTYzyZsRDD8w",
          "mode": "list",
          "cachedResultName": "Enviar arquivo [Dra Domila]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', ``, 'string') }}",
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}",
            "nome_documento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_documento', ``, 'string') }}",
            "telefone_do_paciente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone_do_paciente', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_documento",
              "displayName": "nome_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone_do_paciente",
              "displayName": "telefone_do_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6288,
        1248
      ],
      "id": "10384f0e-74e8-474d-9f0e-3f8ae590654f",
      "name": "tool_enviar_arquivo_gdrive1"
    },
    {
      "parameters": {
        "path": "tools"
      },
      "id": "5a1ab826-dd43-4d00-840d-fb84c997ce58",
      "name": "MCP_TOOLS",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        4288,
        3264
      ],
      "webhookId": "ceb17fa5-1937-405f-8000-ea3be7d2b032",
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Para deletar um evento identifique o Event ID via GET EVENTS",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ainumera@ainumera.com.br",
          "mode": "list",
          "cachedResultName": "ainumera@ainumera.com.br"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "80ceb378-315a-4265-b540-0a5d441dde22",
      "name": "DELETE_CALENDAR1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        4608,
        3568
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Para REMARCAR um evento identifique o Event ID via GET EVENTS",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ainumera@ainumera.com.br",
          "mode": "list",
          "cachedResultName": "ainumera@ainumera.com.br"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {}
      },
      "id": "57f97ee9-0451-4e02-9dab-44d530d125e7",
      "name": "UPDATE_CALENDAR1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        4800,
        3568
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "ainumera@ainumera.com.br",
          "mode": "list",
          "cachedResultName": "ainumera@ainumera.com.br"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "outputFormat": "raw",
          "timezone": {
            "__rl": true,
            "mode": "list",
            "value": "America/Sao_Paulo",
            "cachedResultName": "America/Sao_Paulo"
          }
        }
      },
      "id": "43b7be62-e0b5-49b6-a670-386b96ccb177",
      "name": "AVALIABILITY_CALENDAR1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        4432,
        3568
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "**Antes de criar o evento confira se o horário esta disponível em AVALIABILITY_CALENDAR** \nCRIA EVENTOS NOVOS COM O GOOGLE.\nIncluir esses campos em description.\n\nNome:  \nSistema: \nCargo: \nE-mail: \nTelefone: \nEscritório ou empresa:\nNome da empresa:",
        "calendar": {
          "__rl": true,
          "value": "ainumera@ainumera.com.br",
          "mode": "list",
          "cachedResultName": "ainumera@ainumera.com.br"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $fromAI('Description', 'Incluir as seguintes informações de contato formatadas:\\n\\nNome: [nome da pessoa]\\nData de nascimento: [formato DD/MM/AAAA]\\nEmail: [Email da pessoa]\\nE-mail: [endereço de email]\\nCelular: [número de telefone do paciente]\\nCPF: [CPF da pessoa]\\nEndereço completo com CEP:: [Endereço completo com CEP da pessoa]', 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "id": "6ec07729-c01c-4746-bb37-acdf86f7239f",
      "name": "CREATE_CALENDAR1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        4992,
        3568
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Procura eventos usando o \"e-mail\" em Query",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ainumera@ainumera.com.br",
          "mode": "list",
          "cachedResultName": "ainumera@ainumera.com.br"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 4 }) }}",
        "options": {
          "query": "={{ $fromAI('Query', 'Colocar aqui o e-mail', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4240,
        3568
      ],
      "id": "e192b0cc-05e3-4f98-9203-0782e39232cf",
      "name": "GET_EVENTS1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Cria um novo agendamento para um paciente.",
        "method": "POST",
        "url": "https://api.tisaude.com/api/schedule/new",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"idPatient\": null,\n\t\"name\": \"{{ $fromAI('name', 'Patient name', 'string') }}\",\n\t\"birthName\": \"\",\n\t\"flagWhatsapp\": 1,\n\t\"cns\": \"\",\n\t\"sns\": \"\",\n\t\"address\": \"\",\n\t\"number\": \"\",\n\t\"rg\": \"\",\n\t\"cpf\": \"{{ $fromAI('CPF', 'CPF do paciente', 'string') }}\",\n\t\"passport\": \"\",\n\t\"passport_valid_date\": \"\",\n\t\"apartment\": \"\",\n\t\"neighborhood\": \"\",\n\t\"city\": \"\",\n\t\"state\": \"\",\n\t\"zip\": \"\",\n\t\"cellphone\": \"{{ \n  $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(2).length === 10 ? \n  \"(\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(2,4) + \")\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(4,8) + \"-\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(8) :\n  \"(\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(2,4) + \")\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(4,9) + \"-\" + $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\").slice(9)\n}}\",\n\t\"phone\": \"\",\n\t\"email\": \"\",\n\t\"obs\": \"\",\n\t\"sex\": \"\",\n\t\"dateOfBirth\": \"{{ $fromAI('dateofbirth', 'dd/mm/yyyy', 'string') }}\",\n\t\"country\": \"BR\",\n\t\"profession\": \"\",\n\t\"educationLevel\": \"\",\n\t\"education\": \"\",\n\t\"idHealthInsurance\": 1,\n\t\"healthProfessionalResponsible\": \"\",\n\t\"healthInsurancePlan\": \"\",\n\t\"healthInsurancePlanCardNumber\": \"\",\n\t\"indicatedBy\": \"Origem chatbot\",\n\t\"genre\": \"\",\n\t\"bloodType\": \"\",\n\t\"bloodFactor\": \"\",\n\t\"maritalStatus\": \"\",\n\t\"religion\": \"\",\n\t\"healthInsurancePlanCardNumberExpiry\": \"\",\n\t\"kinships\": [],\n\t\"cellphoneCountry\": \"BR\",\n\t\"acceptDuplicate\": false,\n\t\"acceptDuplicateCpf\": false,\n\t\"acceptMinorPatient\": false,\n\t\"schedule\": [\n\t\t{\n\t\t\t\"id\": \"\",\n\t\t\t\"idScheduleReturn\": null,\n\t\t\t\"dateSchudule\": \"{{ $fromAI('schedule_date', 'dd/mm/yyyy', 'string') }}\",\n\t\t\t\"local\": 2,\n\t\t\t\"idCalendar\": 1,\n\t\t\t\"procedures\": [17],\n\t\t\t\"hour\": \"{{ $fromAI('schedule_time', 'hh:mm:ss', 'string') }}\",\n\t\t\t\"room\": null,\n\t\t\t\"reasonUnchecked\": \"\",\n\t\t\t\"reasonLack\": \"\",\n\t\t\t\"recurrenceFlag\": false,\n\t\t\t\"recurrenceTimes\": \"\",\n\t\t\t\"recurrenceType\": \"SEMANALMENTE\",\n\t\t\t\"recurringChange\": \"\",\n\t\t\t\"comments\": \"\",\n\t\t\t\"prepaidGuides\": [],\n\t\t\t\"statusAppointment\": \"\",\n\t\t\t\"acceptsDuplicateScheduling\": true,\n\t\t\t\"accpetSameTimeScheduling\": true,\n\t\t\t\"acceptCanceledDay\": true,\n\t\t\t\"acceptsSchedulingSameRoom\": true,\n\t\t\t\"acceptsProcedureDurationTime\": false,\n\t\t\t\"acceptedRecurrentExisting\": false,\n\t\t\t\"idWaitingList\": null,\n\t\t\t\"accept_ineligible_patient\": false,\n\t\t\t\"accept_inconsistency\": false,\n\t\t\t\"accept_change_receivable\": false,\n\t\t\t\"type\": 1,\n\t\t\t\"selected\": false\n\t\t}\n\t]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        6080,
        1248
      ],
      "id": "90ae17b3-2eb4-450e-a460-621f5588e0a6",
      "name": "CREATE_APPOINTMENT"
    },
    {
      "parameters": {
        "toolDescription": "Busca horários livres para agendamento de um médico em uma data específica",
        "url": "https://api.tisaude.com/api/schedule/filter/calendar/hours",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            },
            {
              "name": "idCalendar",
              "value": "=1"
            },
            {
              "name": "date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_date', '2025-06-03', 'string') }}"
            },
            {
              "name": "local",
              "value": "=2"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        5888,
        1248
      ],
      "id": "a1e11f80-f426-4cb5-8fca-136b9c95a232",
      "name": "GET_AVAILABLE_HOURS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=`conversation history`: `{{ $('Process Loaded History1').item.json.conversation_text }}` ",
        "options": {
          "systemMessage": "=# PROMPT AGENTE DE ATENDIMENTO - DRA. DOMILA MATTOS\n\n## IDENTIDADE DO AGENTE\nVocê é **Anna**, recepcionista/secretária da Dra. Domila Mattos. Seu objetivo é converter contatos em consultas agendadas através de atendimento empático e personalizado.\n\n## IDENTIFICAÇÃO DO ATENDENTE\n- **Nome**: Anna\n- **Função**: Recepcionista/Secretária da Dra. Domila Mattos\n- **Objetivo Principal**: Converter contatos em consultas agendadas através de atendimento empático e personalizado\n- **Data atual**: {{ $now.format('FFFF') }}\n- **Telefone do paciente**: {{ $('Webhook EVO').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}\n- **Nome do paciente**: {{ $('Webhook EVO').item.json.body.data.pushName }}\n\n## TOOLS DISPONÍVEIS\n\n### TOOL 1: GET_AVAILABLE_HOURS\n**Função:** Busca horários livres para agendamento da Dra. Domila\n**Quando usar:** Antes de oferecer horários ao paciente\n**Observação importante:** Esta consulta funciona apenas para um dia por vez, portanto deve ser chamada repetidas vezes com dias diferentes até encontrar horários disponíveis.\n\n### TOOL 2: CREATE_APPOINTMENT\n**Função:** Cria o agendamento definitivo no sistema\n**Quando usar:** Após coletar todos os dados e confirmar pagamento do sinal\n**Dados obrigatórios:**\n- Nome completo, data nascimento, email, CPF, Endereço completo com CEP\n- Data e hora do agendamento\n**Após retorno 200 pelo sistema:** Informar protocolo \"2025300\" na mensagem\n\n## INSTRUÇÕES PARA VARIÁVEIS\n- Use \"Bom dia\", \"Boa tarde\" ou \"Boa noite\" baseado no horário atual da conversa\n- Identifique se é \"Sr.\" ou \"Sra.\" baseado no contexto da conversa\n\n## FLUXO OBRIGATÓRIO DE ATENDIMENTO\n\n### ETAPA 1: ABERTURA E IDENTIFICAÇÃO\n**Primeira mensagem sempre:**\n```\n[Bom dia/Boa tarde/Boa noite] [Nome], como vai?\n\nSeja Bem-Vindo(a) ao consultório da Dra. Domila Mattos. Somos referência na região no tratamento Ortopédico.\nJá ajudamos centenas de pessoas e agora chegou a sua vez.\nMe chamo Anna e sou recepcionista da Dra Domila.\nPoderia me informar o motivo do seu contato?\n```\n\n### ETAPA 2: IDENTIFICAÇÃO DA NECESSIDADE (OBRIGATÓRIA ANTES DOS VALORES)\n```\n[Nome], poderia me dizer o que o(a) Sr(a) sente para me certificar que a Dra. pode ajudar?\n```\n\n**AGUARDE A RESPOSTA antes de prosseguir**\n\n### ETAPA 3: EMPATIA E VALIDAÇÃO\nApós receber a queixa, SEMPRE responda:\n```\nCerto, [Nome]. Temos muitas pessoas aqui em tratamento por dores parecidas.\nÉ ótimo ver os pacientes melhorando com os tratamentos feitos pela Dra.\nPosso explicar como funciona nosso atendimento?\n```\n\n### ETAPA 4: APRESENTAÇÃO DA DRA. DOMILA\n**SEMPRE chame a ferramenta:** `tool_enviar_arquivo_gdrive` com:\n`https://drive.google.com/file/d/1-jEWXYsc857fjOAfM1aM34a08Wi3_YR9`\n\n**Texto de apresentação:**\n```\nPermita-me apresentar a Dra. Domila Mattos:\n• 15 anos de graduação pela Universidade Severino Sombra\n• 13 anos de atuação em Ortopedia\n• Especialização em Cirurgia do Ombro e Cotovelo em São Paulo\n• Especialista em ultrassom das articulações\n• Especialista em procedimentos minimamente invasivos\n\nA Dra. faz uma consulta de 1 hora para te conhecer e saber como ajudar.\nUsa ultrassom durante a consulta para diagnóstico precoce e tratamento assertivo.\nÉ esse tipo de atendimento que o(a) Sr(a) busca?\n```\n\n## HISTÓRIAS DE SUCESSO (Use conforme o caso)\n\n**Para ombro congelado:**\n\"Sabe que aqui tínhamos uma paciente com ombro congelado depois de uma cirurgia na mama que estava há 3 meses sem dormir e tomando remédio forte. Hoje ela está outra pessoa, com os movimentos do braço muito mais soltos e livre dos remédios. Ela voltou pra academia e levou a família toda e é lindo vê-la tão bem todas as vezes que ela nos visita\"\n\n**Para dor intensa:**\n\"Tinha um senhor que veio com tanta dor no braço que até pra rir ele sentia dor. Depois que ele fez a infiltração e a neuromodulação ele tava com o braço sem dor já no dia seguinte. O tratamento aqui é por etapas. Geralmente os pacientes vem 4 a 5 vezes, dependendo do protocolo que eles precisam. Quando a pessoa mora longe a Dra personaliza o tratamento de acordo com a sua disponibilidade e necessidade.\"\n\n**Para idosos:**\n\"Uma senhora de 85 anos precisando de prótese nos dois braços. Tinha muito problema de saúde e era arriscado operar. Ela vem toda semana fazer neuromodulação. Melhorou a dor dos braços e tá andando melhor também\"\n\n## APRESENTAÇÃO DO INVESTIMENTO (SÓ APÓS CRIAR VALOR)\n\n**Texto obrigatório:**\n```\nO(A) Sr(a) será recebido(a) em consultório confortável com acessibilidade.\nPrimeira consulta: 1h incluindo ultrassom quando necessário.\nPlano de tratamento individualizado considerando seus objetivos.\n\nInvestimento em saúde: R$800,00\n✓ Nota fiscal para reembolso/IR\n✓ Parcelamento até 2x sem juros\n\nTenho horário para [DIA] às [HORA]. Esse horário atende o(a) Sr(a)?\n```\n\n**IMPORTANTE SOBRE HORÁRIOS:**\n- **Para apresentação inicial do investimento:** Ofereça APENAS 1 opção de horário a partir de 4 horas da hora atual\n- **Para consultas gerais de disponibilidade:** Quando o paciente perguntar por horários disponíveis em uma data específica, ofereça até 3 sugestões de horário espaçadas, após a hora atual\n- **Antes de oferecer qualquer horário:** SEMPRE use `GET_AVAILABLE_HOURS` para verificar disponibilidade real na agenda\n- **Estratégia de busca:** Como GET_AVAILABLE_HOURS consulta apenas um dia por vez, chame repetidas vezes com dias diferentes até encontrar horários disponíveis\n\n## AGENDAMENTO COM SISTEMA\n\n### VERIFICAÇÃO DE HORÁRIOS\n**Procedimento obrigatório:**\n1. Pergunte a data preferencial do paciente\n2. Use `GET_AVAILABLE_HOURS` com a data solicitada\n3. Se não houver horários disponíveis, consulte os próximos dias\n4. Continue consultando dias consecutivos até encontrar horários\n5. Ofereça apenas horários realmente disponíveis\n\n### COLETA DE DADOS (na ordem):\n1. Nome completo\n2. Data de nascimento (formato DD/MM/AAAA)\n3. Email\n4. CPF\n5. Endereço completo com CEP\n\n### POLÍTICA DE PAGAMENTO\n```\nFinalizamos seu pré-agendamento, [Nome].\nReservamos a vaga com pagamento antecipado:\n\nPIX: CNPJ 47725477000106\nValor: R$100,00 (abatido do total)\nRestante: R$400,00 no dia (PIX ou cartão 2x sem juros)\n\nAguardo comprovante para inserir no sistema.\nSeja bem-vindo(a) desde já!\n```\n\n### EFETIVAÇÃO NO SISTEMA\n**Após receber comprovante do sinal:**\n1. Use `CREATE_APPOINTMENT` com todos os dados coletados\n2. Confirme o agendamento criado no sistema\n3. Prossiga com envio de confirmações\n\n## APÓS CONFIRMAÇÃO - ENVIAR EM SEQUÊNCIA:\n\n1. **Confirmação:**\n```\nOlá [Nome], consulta confirmada no sistema:\nData: X às Y horas\nEndereço: Rua T-55, 930, Sala 512, Ed. Walk, Setor Bueno, Goiânia\n(Prédio tem estacionamento pago)\n```\n\n2. **Formulário:** \nhttps://docs.google.com/forms/d/e/1FAIpQLSfrDIzqZDCd3T2YdOV551kIydaYfrrskPEetbV2hfnPNsfMrw/viewform\n\n## TRATAMENTO DE OBJEÇÕES\n\n### \"Preço Alto\" / \"Fora do Orçamento\" / \"Vou Pensar\"\n**PRIMEIRA TENTATIVA:**\n```\n[Nome], entendo sua preocupação. Pense no impacto na sua qualidade de vida.\nA Dra. faz acompanhamentos completos, não apenas consultas.\nParcelamos em 2x sem juros + nota fiscal para IR.\n```\n\n**SEGUNDA TENTATIVA (ESTRATÉGIA ADICIONAL):**\n```\n[Nome], Fazer esta consulta é um investimento e acredito realmente nos benefícios para você ao se consultar com a Dra. Domila.\n\nTirando essa parte financeira, tem algo a mais que te impede de marcar sua consulta e dar início à vida sem dor?\n```\n\n**Se responder SIM:**\n```\nO que mais te impede de agendar a consulta, [Nome]? Me ajude a entender melhor.\n```\n\n**Se responder NÃO:**\n```\nParabéns, [Nome]! É muito bom ver que nada vai ficar no caminho entre você e sua saúde. \nVamos agendar sua consulta então? Que dia seria melhor para você?\n```\n\n### \"Falta de Tempo\"\n```\nHorário marcado sem atrasos + estacionamento coberto.\nAtendimento tranquilo e eficiente.\n```\n\n### \"Desconfiança\"\nEnviar: https://g.page/r/CYd2Cg8H4CG0EB0/review\n\n## REGRAS CRÍTICAS\n\n### ❌ NUNCA FAÇA:\n- Mencionar valores ANTES de criar conexão emocional\n- Dar diagnósticos ou explicar tratamentos médicos\n- Enviar links diretos do Google Drive (usar tool_enviar_arquivo_gdrive)\n- Prosseguir sem aguardar respostas nas etapas obrigatórias\n- Oferecer horários sem usar GET_AVAILABLE_HOURS\n- Criar agendamento sem usar CREATE_APPOINTMENT\n- Desistir na primeira objeção - SEMPRE faça a segunda tentativa\n- Oferecer mais de 1 horário na apresentação inicial do investimento\n\n### ✅ SEMPRE FAÇA:\n- Demonstre empatia ANTES de falar investimento\n- Busque o SIM - foque na conversão\n- Mantenha mensagens curtas (ideal WhatsApp)\n- Use tool_enviar_arquivo_gdrive para vídeos/arquivos\n- Verifique disponibilidade real antes de oferecer horários\n- Registre todos os agendamentos no sistema TiSaúde\n- Aplique a estratégia adicional para objeções financeiras\n- Consulte múltiplos dias quando necessário para encontrar horários\n- Na apresentação inicial: ofereça apenas 1 horário (4h+ da hora atual)\n- Em consultas gerais: ofereça até 3 horários espaçados\n\n### URGÊNCIAS/FORA DO ESCOPO:\nInformar protocolo \"2025300\" para transferência\n\n## INFORMAÇÕES DA CLÍNICA\n- **Endereço:** Rua 3, 1035 - Clínica Multimed - Setor Oeste\n- **Horário:** Segunda a sexta, 9h às 17h  \n- **WhatsApp:** (62) 98178-7021\n- **CNPJ PIX:** 47725477000106\n- **Atendimento:** Apenas particular\n\n"
        }
      },
      "id": "ca6f69dd-c213-41e9-9b7b-29271ad4a6c2",
      "name": "Versão TI Saude",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        5904,
        784
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tisaude.com/api/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "login",
              "value": "domila.mattos"
            },
            {
              "name": "senha",
              "value": "Lider1000$"
            },
            {
              "name": "otp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5504,
        784
      ],
      "id": "97f4d4c4-27c2-4144-ab17-899aaff448cd",
      "name": "Login TiSaude API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2668389-cada-4af5-85ab-990d532d3764",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.identifier }}",
              "rightValue": "@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1600,
        2240
      ],
      "id": "c6366e8b-899b-4cb9-bbac-6641af5a34f8",
      "name": "If11",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "886e3751-e39b-4fc6-98d1-3113eaeebbb4",
              "name": "=body.event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7",
              "name": "Telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a57db642-3e13-452e-bb5b-19f7e9f3bd5d",
              "name": "NomeWpp",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "fbfa83aa-25f4-4d7b-8da8-81f507a4a259",
              "name": "Chatwoot",
              "value": "={{ $json.body.instance.substring(0, 2) }}",
              "type": "string"
            },
            {
              "id": "30a7c402-ee56-4fa0-89ee-e275dc854d98",
              "name": "Conversation.id",
              "value": "={{ $json.payload[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2d6d234c-2316-428d-baaa-e2e8f466dd89",
      "name": "Dados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        1632
      ],
      "notes": "Filtra os dados para enviar somente os dados que queremos. "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "886e3751-e39b-4fc6-98d1-3113eaeebbb4",
              "name": "=body.event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7",
              "name": "Telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a57db642-3e13-452e-bb5b-19f7e9f3bd5d",
              "name": "NomeWpp",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "fbfa83aa-25f4-4d7b-8da8-81f507a4a259",
              "name": "Chatwoot",
              "value": "=25",
              "type": "string"
            },
            {
              "id": "30a7c402-ee56-4fa0-89ee-e275dc854d98",
              "name": "Conversation.id",
              "value": "={{ $('Webhook EVO').item.json.body.data.chatwootConversationId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "91a365af-3103-4cf9-9fc0-e41c6fc67bb4",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        1968
      ],
      "notes": "Filtra os dados para enviar somente os dados que queremos. "
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dradomila_chatwoot",
        "options": {}
      },
      "id": "47bed59f-746a-4590-bac4-c74bca5d0bb1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        848
      ],
      "webhookId": "75b7ce9a-30c8-4cd4-8506-ef88b7f11be7"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Webhook Chatwoot').item.json.body.meta.sender.identifier }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Webhook Chatwoot').item.json.body.messages[0].content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        1312
      ],
      "id": "617ce491-558d-4bdb-a33e-cedd534f8824",
      "name": "Salvar Historicoo Humano3",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3648decc-95f3-4939-a1c4-7d8992eb1583",
              "leftValue": "={{ $json.body.meta.assignee.id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        1328
      ],
      "id": "a2990d42-2641-4db1-8455-47a03df29da8",
      "name": "If13"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5712,
        1408
      ],
      "id": "89c9be0e-0d08-4dcb-951a-62f72ac1513e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kt7BIIhS1MTQeq8c",
          "name": "OpenAi ProFort"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook EVO').first().json.body.instance.substring(0, 2) }}/conversations/{{ $('Buscar Conversas do Contato').first().json.payload[0].id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "=61"
            }
          ]
        },
        "options": {}
      },
      "id": "1752c342-342f-434a-b1fa-9e32bf4b9300",
      "name": "SendAnswer5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9296,
        2640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ (new Date().getHours() >= 8 && new Date().getHours() < 13) || (new Date().getHours() >= 14 && new Date().getHours() < 20) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "9040c0a5-113c-474b-b6f2-67041d48a2ec"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "horario comercial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cdade153-89c2-4565-b1aa-2171879c9344",
                    "leftValue": "={{ (new Date().getHours() >= 8 && new Date().getHours() < 13) || (new Date().getHours() >= 14 && new Date().getHours() < 20) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fora horario"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5024,
        1360
      ],
      "id": "77c1de78-d6f1-40cb-8e50-8fb8655daea8",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/25/conversations/{{ $('Webhook EVO').item.json.body.data.chatwootConversationId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "UkX8DGVkhuJTDCB1qUv8YRnd"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "34c7ed83-4908-433a-9599-5f3222cc692d",
      "name": "Load Chatwoot Conversation History1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5360,
        1152
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Initialize the default output structure to be returned in case of error or empty input.\nconst defaultOutput = {\n    \"conversation_text\": \"\"\n};\n\ntry {\n    // --- INPUTS ---\n    // Assuming the primary message payload is from the first input item.\n    const messages = $('Load Chatwoot Conversation History1').first().json.payload;\n\n    // Ensure 'messages' is a valid array and messages.length > 0 before proceeding.\n    if (Array.isArray(messages) && messages.length > 0) {\n\n        // Map over each message to transform it into the desired format.\n        const fullHistory = messages.map(msg => {\n            // RULE 1: Determine the role based on the sender type.\n            const role = (msg.sender && msg.sender.type === 'contact') ? 'user' : 'assistant';\n\n            // RULE 2: Replace '/start' content with 'Hello!'.\n            // FIX: Default null content to an empty string to ensure safe concatenation.\n            let content = msg.content || '';\n\n            if (content === '/start') {\n                content = 'Hello!';\n            }\n\n            return {\n                role,\n                content\n            };\n        });\n\n        // --- TASK 2: Remove Messages with Empty Content ---\n        // Filter the generated history to exclude any messages where the content is empty or just whitespace.\n        const filteredHistory = fullHistory.filter(msg => msg.content && msg.content.trim() !== '');\n\n        // --- TASK 3: Create a single text string from the entire history ---\n        // This now uses the entire filteredHistory instead of a slice.\n        const conversationText = filteredHistory\n            .map(msg => `[${msg.role.toUpperCase()}] : ${msg.content}`)\n            .join(\", \\n\");\n\n        // Return the final string in the expected n8n JSON format.\n        return [{\n            json: {\n                \"conversation_text\": conversationText\n            }\n        }];\n\n    }\n\n    // If the input was invalid or empty, return the default empty structure.\n    return [{\n        json: defaultOutput\n    }];\n\n} catch (error) {\n    // RULE 3: If any error occurs during execution, return the default empty structure.\n    // This ensures the workflow doesn't fail.\n    console.error(\"Error processing history:\", error.message);\n    return [{\n        json: defaultOutput\n    }];\n}\n\n"
      },
      "id": "b3336e26-08ab-45d0-9582-9b7baea55c2d",
      "name": "Process Loaded History1",
      "type": "n8n-nodes-base.code",
      "position": [
        5584,
        1152
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {
    "Parser  Chain": [
      {
        "json": {
          "output": {
            "messages": [
              "Olá! Seja bem-vindo(a) ao consultório da Dra. Domila Mattos, referência na região no tratamento ortopédico, especialmente em ombro e cotovelo.",
              "Fico feliz que tenha nos encontrado e queira saber mais sobre a tendinite do ombro e o atendimento da Dra. Domila.",
              "A tendinite do ombro, de fato, é uma condição muito comum e pode causar bastante desconforto, limitando movimentos e impactando a qualidade de vida.",
              "Na consulta, a Dra. Domila realiza uma avaliação detalhada de cada paciente, utilizando inclusive o exame de ultrassom durante a consulta para ajudar no diagnóstico e já orientar o melhor tratamento.",
              "O foco é aliviar a dor, restaurar sua função e evitar a progressão do problema.",
              "Você gostaria de saber mais sobre:",
              "- O que causa e como tratar a tendinite do ombro?",
              "- Como funciona a consulta com a Dra. Domila?",
              "- Valores, formas de pagamento e agendamento?",
              "- Ou tem outra dúvida específica?",
              "Fique à vontade para perguntar!",
              "Se preferir, posso explicar como funciona o atendimento da Dra. e já te ajudar a agendar uma consulta para avaliação completa.",
              "Como posso te ajudar melhor?"
            ]
          }
        }
      }
    ],
    "Webhook Chatwoot": [
      {
        "json": {
          "headers": {
            "host": "api.doutorai.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "4163",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "49.13.204.90",
            "x-forwarded-host": "api.doutorai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8f6c5a9ebf4e",
            "x-real-ip": "49.13.204.90"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 25,
              "name": "Dra. Domila Mattos"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "ola",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 24066,
                "contact_id": 126956,
                "inbox_id": 101,
                "source_id": "eb12a510-233d-4af5-9353-ae594a63e42f",
                "created_at": "2025-05-16T16:49:02.995Z",
                "updated_at": "2025-05-16T16:49:02.995Z",
                "hmac_verified": false,
                "pubsub_token": "JdKDGb5pQHyQ23iiTMNoRqXZ"
              },
              "id": 2,
              "inbox_id": 101,
              "messages": [
                {
                  "id": 594740,
                  "content": "ola",
                  "account_id": 25,
                  "inbox_id": 101,
                  "conversation_id": 2,
                  "message_type": 0,
                  "created_at": 1751567810,
                  "updated_at": "2025-07-03T18:36:50.244Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3FE70793700196B47AAF",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 126956,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "ola",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1751567810,
                    "contact_inbox": {
                      "source_id": "eb12a510-233d-4af5-9353-ae594a63e42f"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 126956,
                    "identifier": "5521999301045@s.whatsapp.net",
                    "name": "Fernando Cardoso",
                    "phone_number": "+5521999301045",
                    "thumbnail": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBb3ZsIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e7ea5cc80861c8da2febd37a66e8e6cfbfc83e7b/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--76fe2b0e268c311d41cdcd9329f08cf9a12777ea/427419295_455175336958342_3462807269224564030_n.jpg",
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 126956,
                  "identifier": "5521999301045@s.whatsapp.net",
                  "name": "Fernando Cardoso",
                  "phone_number": "+5521999301045",
                  "thumbnail": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBb3ZsIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e7ea5cc80861c8da2febd37a66e8e6cfbfc83e7b/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--76fe2b0e268c311d41cdcd9329f08cf9a12777ea/427419295_455175336958342_3462807269224564030_n.jpg",
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": "2025-05-16T16:49:08.999Z",
              "priority": null,
              "waiting_since": 1751548833,
              "agent_last_seen_at": 1751564713,
              "contact_last_seen_at": 0,
              "last_activity_at": 1751567810,
              "timestamp": 1751567810,
              "created_at": 1747414143
            },
            "created_at": "2025-07-03T18:36:50.244Z",
            "id": 594740,
            "inbox": {
              "id": 101,
              "name": "Whatsapp"
            },
            "message_type": "incoming",
            "status": "sent",
            "private": false,
            "sender": {
              "account": {
                "id": 25,
                "name": "Dra. Domila Mattos"
              },
              "additional_attributes": {},
              "avatar": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBb3ZsIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e7ea5cc80861c8da2febd37a66e8e6cfbfc83e7b/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--76fe2b0e268c311d41cdcd9329f08cf9a12777ea/427419295_455175336958342_3462807269224564030_n.jpg",
              "custom_attributes": {},
              "email": null,
              "id": 126956,
              "identifier": "5521999301045@s.whatsapp.net",
              "name": "Fernando Cardoso",
              "phone_number": "+5521999301045",
              "thumbnail": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBb3ZsIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e7ea5cc80861c8da2febd37a66e8e6cfbfc83e7b/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--76fe2b0e268c311d41cdcd9329f08cf9a12777ea/427419295_455175336958342_3462807269224564030_n.jpg"
            },
            "source_id": "WAID:3FE70793700196B47AAF",
            "event": "message_created"
          },
          "webhookUrl": "https://api.doutorai.com.br/webhook/dradomila_chatwoot",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "api.doutorai.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "2364",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "49.13.204.90",
            "x-forwarded-host": "api.doutorai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3a114e537328",
            "x-real-ip": "49.13.204.90"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 25,
              "name": "Dra. Domila Mattos"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "asd",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 33276,
                "contact_id": 150085,
                "inbox_id": 101,
                "source_id": "86dd2c77-69a8-4c74-8ea6-d1b53abbd522",
                "created_at": "2025-08-20T23:46:36.393Z",
                "updated_at": "2025-08-20T23:46:36.393Z",
                "hmac_verified": false,
                "pubsub_token": "9JUo85NBS2MoX9zGerXK4c63"
              },
              "id": 1095,
              "inbox_id": 101,
              "messages": [
                {
                  "id": 728385,
                  "content": "asd",
                  "account_id": 25,
                  "inbox_id": 101,
                  "conversation_id": 1095,
                  "message_type": 0,
                  "created_at": 1755737793,
                  "updated_at": "2025-08-21T00:56:33.286Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3EB0D689657F21627CC514",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 150085,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "asd",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1755737793,
                    "contact_inbox": {
                      "source_id": "86dd2c77-69a8-4c74-8ea6-d1b53abbd522"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 150085,
                    "identifier": "224820264484957@lid",
                    "name": "Fernando Pereira",
                    "phone_number": "+224820264484957",
                    "thumbnail": "",
                    "type": "contact"
                  }
                }
              ],
              "labels": [
                "followup"
              ],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 150085,
                  "identifier": "224820264484957@lid",
                  "name": "Fernando Pereira",
                  "phone_number": "+224820264484957",
                  "thumbnail": "",
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1755733596,
              "agent_last_seen_at": 1755733597,
              "contact_last_seen_at": 0,
              "last_activity_at": 1755737793,
              "timestamp": 1755737793,
              "created_at": 1755733596
            },
            "created_at": "2025-08-21T00:56:33.286Z",
            "id": 728385,
            "inbox": {
              "id": 101,
              "name": "Whatsapp"
            },
            "message_type": "incoming",
            "status": "sent",
            "private": false,
            "sender": {
              "account": {
                "id": 25,
                "name": "Dra. Domila Mattos"
              },
              "additional_attributes": {},
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 150085,
              "identifier": "224820264484957@lid",
              "name": "Fernando Pereira",
              "phone_number": "+224820264484957",
              "thumbnail": ""
            },
            "source_id": "WAID:3EB0D689657F21627CC514",
            "event": "message_created"
          },
          "webhookUrl": "https://api.doutorai.com.br/webhook/dradomila_chatwoot",
          "executionMode": "production"
        }
      }
    ],
    "Webhook EVO": [
      {
        "json": {
          "headers": {
            "host": "api.doutorai.com.br",
            "user-agent": "axios/1.12.2",
            "content-length": "1672",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "49.13.204.90",
            "x-forwarded-host": "api.doutorai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d1ab633b7d2b",
            "x-real-ip": "49.13.204.90"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "DraDomila",
            "data": {
              "key": {
                "remoteJid": "224820264484957@lid",
                "remoteJidAlt": "5511936188206@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0C94DF14F9ED66F21B3",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Fernando Pereira",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "opa",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 105,
                      "1": 184,
                      "2": 36,
                      "3": 136,
                      "4": 99,
                      "5": 34,
                      "6": 112,
                      "7": 252,
                      "8": 43,
                      "9": 150
                    },
                    "senderTimestamp": {
                      "low": 1765824672,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 85,
                      "1": 144,
                      "2": 152,
                      "3": 113,
                      "4": 101,
                      "5": 205,
                      "6": 116,
                      "7": 46,
                      "8": 209,
                      "9": 184
                    },
                    "recipientTimestamp": {
                      "low": 1764590335,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 46,
                    "1": 96,
                    "2": 209,
                    "3": 236,
                    "4": 155,
                    "5": 180,
                    "6": 168,
                    "7": 152,
                    "8": 189,
                    "9": 195,
                    "10": 135,
                    "11": 56,
                    "12": 38,
                    "13": 235,
                    "14": 97,
                    "15": 176,
                    "16": 235,
                    "17": 115,
                    "18": 20,
                    "19": 99,
                    "20": 15,
                    "21": 25,
                    "22": 149,
                    "23": 222,
                    "24": 139,
                    "25": 13,
                    "26": 81,
                    "27": 78,
                    "28": 169,
                    "29": 245,
                    "30": 216,
                    "31": 192
                  },
                  "limitSharingV2": {
                    "sharingLimited": false,
                    "trigger": 0,
                    "limitSharingSettingTimestamp": {
                      "low": 0,
                      "high": 0,
                      "unsigned": false
                    },
                    "initiatedByMe": false
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1765940230,
              "instanceId": "88e8a2b6-9953-46bd-bbe4-8e447cd3ef8e",
              "source": "web",
              "chatwootMessageId": 1087706,
              "chatwootInboxId": 145,
              "chatwootConversationId": 1772
            },
            "destination": "https://api.doutorai.com.br/webhook/dradomila",
            "date_time": "2025-12-16T23:57:11.391Z",
            "sender": "556281787021@s.whatsapp.net",
            "server_url": "https://wpp2.doutorai.com.br",
            "apikey": "15433788D231-492B-8CE4-D5363B7A250F"
          },
          "webhookUrl": "https://api.doutorai.com.br/webhook/dradomila",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "buscar_documentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "buscar_documentos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Supabase12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Split de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split de Mensagem": {
      "main": [
        []
      ]
    },
    "buscar_documentos": {
      "ai_tool": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ListMessages-Supabase2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Supabase7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Rotas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Completa": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Chat_Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Verificar Pause": {
      "main": [
        [
          {
            "node": "Rota Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Historicoo Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendAnswer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SendAnswer4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pause1": {
      "main": [
        [
          {
            "node": "Rota Atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento1": {
      "main": [
        [
          {
            "node": "Check Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Conversation": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Conversation1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Verificar Pause",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Historicoo Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Rotas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase6": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Rag": {
      "main": [
        []
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "message_robo": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase12": {
      "main": [
        [
          {
            "node": "Compara Get Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Typing": {
      "main": [
        []
      ]
    },
    "Compara Get Memory": {
      "main": [
        [
          {
            "node": "Verificar Pause1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP_CALENDAR1": {
      "ai_tool": [
        []
      ]
    },
    "Buscar Contato por Identifier": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas do Contato": {
      "main": [
        []
      ]
    },
    "SendAnswer3": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendAnswer4": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          },
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Deleta Conteúdo Chat_Messages": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP_TISAUDE_SISTEMA": {
      "ai_tool": [
        []
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "ListMessages-Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Buscar Contato por Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory4": {
      "ai_memory": [
        []
      ]
    },
    "Refletir2": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_enviar_arquivo_gdrive1": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DELETE_CALENDAR1": {
      "ai_tool": [
        [
          {
            "node": "MCP_TOOLS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE_CALENDAR1": {
      "ai_tool": [
        [
          {
            "node": "MCP_TOOLS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AVALIABILITY_CALENDAR1": {
      "ai_tool": [
        [
          {
            "node": "MCP_TOOLS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_CALENDAR1": {
      "ai_tool": [
        [
          {
            "node": "MCP_TOOLS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET_EVENTS1": {
      "ai_tool": [
        [
          {
            "node": "MCP_TOOLS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_APPOINTMENT": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET_AVAILABLE_HOURS": {
      "ai_tool": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Versão TI Saude": {
      "main": [
        [
          {
            "node": "message_robo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login TiSaude API": {
      "main": [
        [
          {
            "node": "Versão TI Saude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        []
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Rotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Versão TI Saude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "SendAnswer5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Load Chatwoot Conversation History1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Chatwoot Conversation History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chatwoot Conversation History1": {
      "main": [
        [
          {
            "node": "Process Loaded History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Loaded History1": {
      "main": [
        [
          {
            "node": "Login TiSaude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5bebc5e-6ecd-4655-af52-8b71c11a8ccc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dff2809c326d67264ac89b11c62a81c0e33c81a110b2979fd152608e157400d"
  },
  "id": "AIGqaEZxpui5ojWl",
  "tags": []
}