Domila GrupoWhats.json
{
  "name": "Domila GrupoWhats",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.message }}",
        "options": {
          "systemMessage": "=Agora são {{ $now.format('FFFF') }}.\n\n## PAPEL\nVocê é um assistente de gestão médica acionado via WhatsApp para auxiliar profissionais de saúde no gerenciamento de consultas, tarefas e agenda médica.\n\n## OBJETIVO GERAL\n1. Gerenciar agenda do Google\n2. Gerenciar tarefas do Google Tasks (criar, atualizar, listar e deletar)\n3. Auxiliar na organização e planejamento das atividades médicas\n\n## RESUMO DE RESPONSABILIDADES\n\n### 1. Google Calendar\n\n- \"Criar_evento\" e \"Atualizar_evento\": usada para agendar e remarcar eventos.\n- \"Buscar_evento\": buscar dados sobre um evento específico, por ID.\n- \"Buscar_todos_os_eventos\": listar eventos em um período específico. Use para listar os eventos de um dia específico. Não use para listar eventos de períodos maiores que um dia.\n- \"Deletar_evento\": usada desmarcar eventos.\n\n### 2. Gerenciamento de Tarefas Google Tasks\n- **Criar Tarefa**: Use \"Create Task\" para adicionar novas tarefas com título e data de vencimento\n- **Listar Tarefas**: Use \"Get Many\" para visualizar tarefas existentes, com filtros opcionais de data e status\n- **Atualizar Tarefa**: Use \"Update Task\" para modificar título, data de vencimento ou status de tarefas\n- **Deletar Tarefa**: Use \"Delete Task\" para remover tarefas desnecessárias\n\n### 3. Suporte Administrativo\n- Ajudar na organização de lembretes médicos\n- Gerenciar lista de afazeres do consultório\n- Auxiliar no planejamento de atividades administrativas\n\n## EXEMPLOS DE USO\n- \"Verificar agenda do dia 2025-06-25\"\n- \"Criar tarefa: Revisar prontuários até 2025-06-30\"\n- \"Listar tarefas pendentes\"\n- \"Atualizar tarefa \"exemplo\" como concluída\"\n- \"Deletar tarefa \"exemplo\"\"\n\n## INSTRUÇÕES IMPORTANTES\n1. **ANTES DE ATUALIZAR OU DELETAR**: SEMPRE use \"Get Many\" primeiro para obter o ID correto da tarefa que será modificada ou deletada\n2. Para operações de atualização/deleção, certifique-se de ter o ID correto da tarefa obtido através do Get Many\n3. Sempre informe o resultado das operações realizadas\n4. **ESTRUTURE AS MENSAGENS PARA WHATSAPP** com:\n   • Bullets quando necessário para organizar informações\n   • Quebras de linha para melhor legibilidade\n   • Formatação clara e organizada\n   • Linguagem objetiva e direta"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        432,
        -48
      ],
      "id": "4ee9f5b7-b811-40a1-9f1d-1d405982c280",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        224
      ],
      "id": "7581dc03-97a9-44c9-b26d-d1b8ac7871d2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Fljg83lLFOqVerEU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDU1MTAwMzEzMjMyOTgyOTM3NjI6MDow",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1008,
        224
      ],
      "id": "ccf819dd-1199-458d-9bad-a552b5ca741d",
      "name": "Get Many",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "Y9uBmpsT5oBCSNHC",
          "name": "Domila Google Tasks "
        }
      }
    },
    {
      "parameters": {
        "task": "MDU1MTAwMzEzMjMyOTgyOTM3NjI6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        880,
        224
      ],
      "id": "ebc99dfc-8154-4fa9-9892-932bebd4fd23",
      "name": "Create Task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "Y9uBmpsT5oBCSNHC",
          "name": "Domila Google Tasks "
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MDU1MTAwMzEzMjMyOTgyOTM3NjI6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        768,
        224
      ],
      "id": "b6007ce5-9a3f-4f03-9631-725e6e7b1cb0",
      "name": "Update Task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "Y9uBmpsT5oBCSNHC",
          "name": "Domila Google Tasks "
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MDU1MTAwMzEzMjMyOTgyOTM3NjI6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1120,
        224
      ],
      "id": "aad2da28-0847-4a51-a35b-6c1584d70ee9",
      "name": "Delete Task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "Y9uBmpsT5oBCSNHC",
          "name": "Domila Google Tasks "
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Busca agenda de um médico para uma data específica incluindo agendamentos e horários ocupados.",
        "url": "=https://api.tisaude.com/api/schedule/{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_date', '2025-06-03', 'string') }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            },
            {
              "name": "idCalendar",
              "value": "=1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        624,
        224
      ],
      "id": "41edaada-a5af-4f43-a643-07cb93d23e3a",
      "name": "GET_SCHEDULE",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=123563",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        240
      ],
      "id": "4d805950-e64b-48e2-8b28-23a10211dda0",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1264,
        224
      ],
      "id": "f248ee56-3987-4b01-b997-e3a2a5db40f7",
      "name": "Refletir2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "d5b7c8fc-dffd-4958-b562-8fc35b6ee76f",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -704,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook').last().json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6ef87ab5-2bd9-4357-8510-6656718c35b8",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        144
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "6fa29253-66eb-4a9e-9ae0-5b909fa708e6",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -528,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2668389-cada-4af5-85ab-990d532d3764",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "120363419250272723@g.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "27eed690-0790-4182-96e4-f479e93a5e18",
              "leftValue": "={{ $json.body.meta.sender.identifier }}",
              "rightValue": "=120363419250272723@g.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2704,
        736
      ],
      "id": "18d3e9ae-7518-40db-817c-07dc25f9e3f6",
      "name": "If8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "id": "5f64694c-549a-4808-8713-89043dda0148",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1200,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wpp2.doutorai.com.br/message/sendText/DraDomila",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "15433788D231-492B-8CE4-D5363B7A250F"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"120363419250272723@g.us\",\n      \"text\": {{ JSON.stringify( $json.output) }},\n    \"options\": {\n      \"delay\": 1000,\n      \"presence\": \"composing\",\n      \"linkPreview\": false\n    }\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        -48
      ],
      "id": "4626d5e1-11dc-4c89-835e-94300c47d0db",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7b9e40b-7afc-4f8b-a6a5-d551a11ae08c",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -64
      ],
      "id": "afeefd87-80f8-4519-aece-46d3676f1453",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "path": "db6bc79d-ba32-41c4-b492-f0f5bbcb8fd3"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 1,
      "position": [
        1760,
        528
      ],
      "id": "e31322c1-fecb-4bcd-ae5f-332efbe52ce1",
      "name": "[MCP Server] Google Calendar",
      "webhookId": "db6bc79d-ba32-41c4-b492-f0f5bbcb8fd3"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ortopediadomilamattos@gmail.com",
          "mode": "list",
          "cachedResultName": "ortopediadomilamattos@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1664,
        752
      ],
      "id": "c50f3ded-2a4f-4dd3-9bf2-bd8e54aa031f",
      "name": "Criar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XFQvSkRXCv4yZotM",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ortopediadomilamattos@gmail.com",
          "mode": "list",
          "cachedResultName": "ortopediadomilamattos@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2448,
        752
      ],
      "id": "0e78b895-7137-4f3d-a9fb-7b5e393d83b5",
      "name": "Deletar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "ortopediadomilamattos@gmail.com",
          "mode": "list",
          "cachedResultName": "ortopediadomilamattos@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1840,
        752
      ],
      "id": "d0ab6d29-3b90-4f2f-8d92-ed02a5dc2da1",
      "name": "Buscar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retorna eventos em uma período específico.\n\nAs datas devem obrigatoriamente informadas no formato completo.\n\nExemplo para buscar eventos no dia 01/01/2025\n\n- After: \"2025-01-01T00:00:00\"\n- Before: \"2025-01-01T23:59:59\"",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ortopediadomilamattos@gmail.com",
          "mode": "list",
          "cachedResultName": "ortopediadomilamattos@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2048,
        752
      ],
      "id": "7acb1357-e3e2-47c6-8e38-761f248f2ce4",
      "name": "Buscar todos os eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ortopediadomilamattos@gmail.com",
          "mode": "list",
          "cachedResultName": "ortopediadomilamattos@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2240,
        752
      ],
      "id": "858219bd-7c8c-4228-be80-36037dc033ec",
      "name": "Atualizar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5F7AblFFoxuCnrTs",
          "name": "Google Calendar - Domila"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://api.doutorai.com.br/mcp/db6bc79d-ba32-41c4-b492-f0f5bbcb8fd3/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1408,
        224
      ],
      "id": "7baeb7dc-2e8a-42bc-a77a-4637013c3f17",
      "name": "Google Calendar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tisaude.com/api/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hash",
              "value": "3d6db0957e7a1778174e96f766da2660"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "login",
              "value": "domila.mattos"
            },
            {
              "name": "senha",
              "value": "Lider1000$"
            },
            {
              "name": "otp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -48
      ],
      "id": "e9b966e8-3244-4f80-b8d8-a82d31543d09",
      "name": "Login TiSaude API1"
    },
    {
      "parameters": {
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $json.body.messages[0].account_id }}/contacts/{{ $json.body.contact_inbox.contact_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "43440b1c-e935-4997-9423-4f6cfd06825c",
      "name": "Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2464,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cd73d858-bd4a-4788-a530-b30ff177daed",
              "leftValue": "={{ $('Webhook').item.json.body.messages[0].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40301dec-98af-4625-8349-7c7a3c16816a",
      "name": "Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1984,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook').item.json[\"body\"][\"attachments\"][0][\"file_type\"] }}",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "26524a49-35d1-49a8-89fe-af48252fe900",
      "name": "Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -672,
        944
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
        "options": {}
      },
      "id": "31d5096d-9ce5-47b2-8ecd-9b8c0d87a29c",
      "name": "DownloadAudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "2eca2763-190a-40ab-8e7a-7ce61b97b26d",
      "name": "Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -144,
        960
      ],
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $('Whisper').item.json[\"text\"] }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Contact').item.json.payload.phone_number }}"
            },
            {
              "name": "account_id",
              "type": "numberValue",
              "numberValue": "={{ $('Webhook').item.json.body.account.id }}"
            },
            {
              "name": "contact_id",
              "type": "numberValue",
              "numberValue": "={{ $('Contact').item.json[\"payload\"][\"id\"] }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}"
            },
            {
              "name": "inbox_id",
              "stringValue": "={{ $('Webhook').first().json.body.conversation.messages[0].inbox_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "13b06ac6-589e-4f51-90e7-f9b8fb822ccd",
      "name": "Data2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        16,
        960
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json[\"body\"][\"attachments\"][0][\"data_url\"] }}",
        "options": {}
      },
      "id": "36141b33-884a-40a4-a004-2f7125538568",
      "name": "DownloadImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -624,
        1184
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "=Descrição da Imagem: {{ $json.content }}"
            },
            {
              "name": "phone",
              "stringValue": "={{ $('Contact').item.json.payload.phone_number }}"
            },
            {
              "name": "account_id",
              "type": "numberValue",
              "numberValue": "={{ $('Webhook').item.json.body.account.id }}"
            },
            {
              "name": "contact_id",
              "type": "numberValue",
              "numberValue": "={{ $('Contact').item.json[\"payload\"][\"id\"] }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}"
            },
            {
              "name": "inbox_id",
              "stringValue": "={{ $('Webhook').first().json.body.conversation.messages[0].inbox_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "6cb32e14-ea55-4de6-abf6-30b0b637cb9e",
      "name": "Data3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -192,
        1184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d70435da-a676-4032-8f17-d19c30fdf46d",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].sender.id }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "0a6c2a8b-c831-4ed8-9f54-7d78c74d3705",
              "leftValue": "={{ $json.body.conversation.meta.assignee }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2672,
        928
      ],
      "id": "08a3b76d-61da-40c5-b0fd-6c6e5e6239c0",
      "name": "Quepasa?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2d17097-7751-4824-90c7-773c6491ba59",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "58306793-cdb3-4c63-932d-258fdfba881d",
              "name": "contact_id",
              "value": "={{ $json.payload.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d44b3263-69e9-4c24-9c9b-741aa03a476a",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2288,
        704
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Descreva o conteúdo dessa imagem, de forma clara e direta, para que a transcrição seja enviada para uma inteligência artificial",
        "inputType": "base64",
        "options": {
          "maxTokens": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        1184
      ],
      "id": "42707e6e-81ba-4265-bacc-20bc8cc7559f",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "TboY7xE10Q4uZF8C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.doutorai.com.br/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "=22"
            }
          ]
        },
        "options": {}
      },
      "id": "2cb1de82-79d4-4787-9ce1-a90b4c381972",
      "name": "SendAnswer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2368,
        864
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eUJJqMZYmAgEr9SZ",
          "name": "Chatwoot - DrAI"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Webhook Chatwoot').item.json.body.meta.sender.identifier }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Webhook Chatwoot').item.json.body.messages[0].content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2384,
        1152
      ],
      "id": "f22219a8-0f95-4012-98de-cb8dc6e27400",
      "name": "Salvar Historicoo Humano3",
      "credentials": {
        "postgres": {
          "id": "Z1SFFrfXW21Hy6tO",
          "name": "BotNew"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3648decc-95f3-4939-a1c4-7d8992eb1583",
              "leftValue": "={{ $json.body.meta.assignee.id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2672,
        1168
      ],
      "id": "20278181-0620-4e3e-aabe-b2a1649b8810",
      "name": "If13"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dradomila-grupo",
        "options": {}
      },
      "id": "6e50e69a-9324-4360-a803-5a2d3ad8d32a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2992,
        752
      ],
      "webhookId": "0ff28bf8-0b75-4321-bea7-684b056410fb",
      "notes": "recebe informações de outro local"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        288
      ],
      "id": "61c25c0b-6df4-452e-9650-5f79fa9bfb98",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kt7BIIhS1MTQeq8c",
          "name": "OpenAi ProFort"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "api.doutorai.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "3980",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "49.13.204.90",
            "x-forwarded-host": "api.doutorai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d1ab633b7d2b",
            "x-real-ip": "49.13.204.90"
          },
          "params": {},
          "query": {},
          "body": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Api",
            "contact_inbox": {
              "id": 45126,
              "contact_id": 145741,
              "inbox_id": 145,
              "source_id": "3474b715-6b9b-4754-932e-702d4df8df4c",
              "created_at": "2025-11-19T21:41:27.334Z",
              "updated_at": "2025-11-19T21:41:27.334Z",
              "hmac_verified": false,
              "pubsub_token": "kCX4LnHQkd4zwQMy5V193wwv"
            },
            "id": 1804,
            "inbox_id": 145,
            "messages": [
              {
                "id": 1051385,
                "content": "**+5511936188206 - Fernando Pereira:**\n\nBom dia, como estão?\n\nAnna\nPoderia me falar minha agenda pro dia 4/12, por gentileza?",
                "account_id": 25,
                "inbox_id": 145,
                "conversation_id": 1804,
                "message_type": 0,
                "created_at": 1764681547,
                "updated_at": "2025-12-02T13:19:07.776Z",
                "private": false,
                "status": "sent",
                "source_id": "WAID:3A5E8422D468EDD3602F",
                "content_type": "text",
                "content_attributes": {},
                "sender_type": "Contact",
                "sender_id": 145741,
                "external_source_ids": {},
                "additional_attributes": {},
                "processed_message_content": "**+5511936188206 - Fernando Pereira:**\n\nBom dia, como estão?\n\nAnna\nPoderia me falar minha agenda pro dia 4/12, por gentileza?",
                "sentiment": {},
                "conversation": {
                  "assignee_id": 1,
                  "unread_count": 1,
                  "last_activity_at": 1764681547,
                  "contact_inbox": {
                    "source_id": "3474b715-6b9b-4754-932e-702d4df8df4c"
                  }
                },
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {
                    "skipgreetings": false
                  },
                  "email": null,
                  "id": 145741,
                  "identifier": "120363419250272723@g.us",
                  "name": "DoutorAI <> Dra. Domila Mattos (GROUP)",
                  "phone_number": null,
                  "thumbnail": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNnZUQWc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d172da75e60db6e99c27f81ec7e1106fc56fc25a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--76fe2b0e268c311d41cdcd9329f08cf9a12777ea/491877614_730640582733129_158341158289278449_n.jpg",
                  "type": "contact"
                }
              }
            ],
            "labels": [],
            "meta": {
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {
                  "skipgreetings": false
                },
                "email": null,
                "id": 145741,
                "identifier": "120363419250272723@g.us",
                "name": "DoutorAI <> Dra. Domila Mattos (GROUP)",
                "phone_number": null,
                "thumbnail": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNnZUQWc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d172da75e60db6e99c27f81ec7e1106fc56fc25a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--76fe2b0e268c311d41cdcd9329f08cf9a12777ea/491877614_730640582733129_158341158289278449_n.jpg",
                "type": "contact"
              },
              "assignee": {
                "id": 1,
                "name": "Fernando Pereira",
                "available_name": "Fernando Pereira",
                "avatar_url": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBIdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6c062941e788fc23ee59b755fd8a63eac65d3436/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--66550ae6297317ab3707a47861bd1a24f037e5e0/logo-500x500.png",
                "type": "user",
                "availability_status": null,
                "thumbnail": "https://chat.doutorai.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBIdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6c062941e788fc23ee59b755fd8a63eac65d3436/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--66550ae6297317ab3707a47861bd1a24f037e5e0/logo-500x500.png"
              },
              "team": null,
              "hmac_verified": false
            },
            "status": "open",
            "custom_attributes": {
              "grupo": true
            },
            "snoozed_until": null,
            "unread_count": 1,
            "first_reply_created_at": null,
            "priority": null,
            "waiting_since": 1763588487,
            "agent_last_seen_at": 1764681538,
            "contact_last_seen_at": 0,
            "last_activity_at": 1764681547,
            "timestamp": 1764681547,
            "created_at": 1763588487,
            "event": "automation_event.message_created"
          },
          "webhookUrl": "https://api.doutorai.com.br/webhook/dradomila-grupo",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Get Many": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET_SCHEDULE": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Refletir2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Login TiSaude API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar evento": {
      "ai_tool": [
        [
          {
            "node": "[MCP Server] Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Deletar evento": {
      "ai_tool": [
        [
          {
            "node": "[MCP Server] Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar evento": {
      "ai_tool": [
        [
          {
            "node": "[MCP Server] Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar todos os eventos": {
      "ai_tool": [
        [
          {
            "node": "[MCP Server] Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar evento": {
      "ai_tool": [
        [
          {
            "node": "[MCP Server] Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Login TiSaude API1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text?": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio?",
            "type": "main",
            "index": 0
          },
          {
            "node": "DownloadImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio?": {
      "main": [
        [
          {
            "node": "DownloadAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadAudio": {
      "main": [
        [
          {
            "node": "Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper": {
      "main": [
        [
          {
            "node": "Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadImage": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa?": {
      "main": [
        [
          {
            "node": "SendAnswer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42b8b84e-737f-445a-b4a9-2b31d145fc50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dff2809c326d67264ac89b11c62a81c0e33c81a110b2979fd152608e157400d"
  },
  "id": "IRlXIdq3hquDYvFV",
  "tags": []
}